[2015-10-10 11:31] roldancer opened #73 "Question about Token"
Hi,
   I'm trying to use this REST client for OpenShift 3.X, but I have a question about how to get the Token, for instance if I use TokenAuthorizationStrategy, I have to get the token before, could you please tell me what java class and method I should use to get that Token.

client.setAuthorizationStrategy(new TokenAuthorizationStrategy("ADSASEAWRA-AFAEWAAA");

Many thanks.

[2015-10-10 12:58] dsimansk commented on #73
You're looking for [this class] (https://github.com/openshift/openshift-restclient-java/blob/master/src/main/java/com/openshift/restclient/authorization/AuthorizationClientFactory.java). There might be useful code snippets in unit tests also.

Should work like this and return token for the client.
[code]

[2015-10-10 19:46] roldancer commented on #73
Many thanks for your help, it works....

[2015-10-12 09:16] dsimansk commented on #73
NP, happy to help.

[2015-10-12 13:54] jcantrill commented on #73
Props to @dsimansk for answering.

[2015-10-12 13:54] #73 closed

[2015-10-22 10:11] fernanzambrano opened #76 "Create a project using templates."
Hi, I am very interesting in use this SDK to create, update, delete projects (using templates). I can see that there isn´t documentation about this.
Could you help me in this question?

Thank you so much for your help.

Regards

[2015-10-22 13:54] jcantrill commented on #76
Creating a project is a matter of submitting a 'project request'.  Create a connection to your OpenShift cluster like: https://github.com/openshift/openshift-restclient-java#usage and then make a project request like: https://github.com/jbosstools/jbosstools-openshift/blob/master/plugins/org.jboss.tools.openshift.ui/src/org/jboss/tools/openshift/internal/ui/wizard/project/NewProjectWizardModel.jav

[2015-10-23 19:12] fernanzambrano commented on #76
Thank you sou much. Now I can create projects with the defaults parameters and the delete them.

Could you tell me if the SDK could create projects using templates?
I need to create projects in the same way than the cli command

oc process -f small-project.yaml -v PROJECT_NAME=fzgprojectname,PROJECT_DISPLAYNAME=fzgDisplayname,PROJ
ECT_DESCRIPTION=fzg_description,PROJECT_ADMIN_USER=n034636 | oc cre

[2015-10-23 19:57] jcantrill commented on #76
@fernanzambrano I believe you have a 'chicken and egg' problem in that you can not associate other resources before the project exists.  Also, project creation is restricted by policy so in most cases you can only create a project via a 'project request'.  The API does support templates as well as processing and applying them using the IProjectTemplateCapability.  Here is an example of how we proc

[2015-10-27 17:21] fernanzambrano commented on #76
Thank you for the quick response.

I am having very big problems to undestand how it is works, maybe the creation of projects using templates it is not the best solution to implement (in my case).
This is whats I need to do:

1-Create a Project (OK, I can do it using the information that you posted in your first comment)
2-Then, change the Quota. My user could be select in a group of options (smal

[2015-10-27 18:15] jcantrill commented on #76
@fernanzambrano I need to correct my previous response after getting additional info.  Projects can be created from a template but is restricted by default.  You can see what the default project template provides to use for a base by using the OS binaries:
[code]
Quota and resource limits could be added via a template but neither the OS binaries nor the rest client currently provide an implementat

[2015-10-28 15:20] fernanzambrano commented on #76
Thank you so, so much for your help.
I am working in this way

		String json = "{\"kind\":\"ResourceQuota\",\"apiVersion\":\"v1\",\"metadata\":{\"name\":\"small.project\",\"namespace\":\"fzg-project-name\",\"creationTimestamp\":null},\"spec\":{\"hard\":{\"cpu\":\"2\",\"memory\":\"2G\",\"pods\":\"25\",\"replicationcontrollers\":\"25\",\"resourcequotas\":\"25\",\"services\":\"25\"}},\"status\":{\"ph

[2015-10-28 15:20] #76 closed

[2015-10-28 16:34] jcantrill commented on #76
@fernanzambrano some options that might making the json less painful is to either jboss DMR library, which is the backing impl to this client or jackson to serialize a Map.  Keeps you from having to do all the escaping.

[2016-01-15 11:53] josefkarasek opened #105 "Cannot modify TLS config of a Route object"
TLS config of a route has recently been changed to read only. But the ability to modify this is desired for creating new routes with specific TLS configuration.

[Initial Route.java](https://github.com/openshift/openshift-restclient-java/blob/b51d8745626c28096b20b1956d7879a9621201ee/src/main/java/com/openshift/internal/restclient/model/Route.java#L60)
[Current Route.java](https://github.com/opensh

[2016-01-20 20:26] #105 closed

[2016-03-18 12:13] kaimago opened #130 "How to edit environment variables (BuildConfig--> SourceBuildStrategy) ?"
I need to edit an environment variable in the sourceBuildStrategy.
iClient.update(Resource) is only adding the enviroment variable in the buildconfig. So the buildconfig has 2 variables with the same name.

[2016-03-18 13:03] jcantrill commented on #130
@kaimago This ends up being a feature request.  Given the work we have been doing, we have only added functionality as we have needed it.  Setting of env variables should only be done through the public interface once its available.  You are welcome to create a PR or I'll see if I can provide you an accessor

[2016-03-21 08:31] kaimago commented on #130
@jcantrill thanks for your help.

Can you share some information about the "public interface". availability / use case ...

[2016-03-21 11:16] #130 closed

[2016-03-21 14:04] jcantrill commented on #130
@kaimago Thanks for pointing out that we have not provided a factory method to create buildstrategies for a buildconfig.  I will work on adding that functionality.  In the meantime, you will have to new an instance of the desired class.  IClient has a method to retrieve the associated resource factory from which you can stub a resource buts use only is for top level types like build and deployment

[2016-03-22 13:51] eivantsov opened #134 "Problems with java client making calls to Origin API"
We, at Codenvy, have build a plugin for OpenShift that works ok against Enterprise 3.1 version.

However, having grabbed the latest Origin version, we have faced a problem. Any calls rest client makes to Origin API get 409 and '{"message":"the body of the request was in an unknown format - accepted media types include: application/json, application/yaml"}' as a response.

After some experiments, i

[2016-03-23 13:01] jcantrill commented on #134
@eivantsov Do you have the latest version of the binaries.  #112 was added a few weeks ago to resolve problems where content-type was not being set.  Additionally, experimenting with both enterprise and origin, the cli does not set encoding and is tolerant of any issues AFAIK tell:

`$ oc create -f service.json --loglevel=8
I0323 07:54:58.046597   16552 debugging.go:99] GET https://localhost:8443/

[2016-03-24 08:15] eivantsov commented on #134
It looks like this commits isn't in your latest release which is 3.0.1-Final. Any plans to release soon?

[2016-03-24 12:26] jcantrill commented on #134
@fbricon @adietish Given that we will be going into codefreeze tomorrow for jbosstools, any ideas around when we will release 4.0.0-FINAL?

[2016-03-30 13:17] fbricon commented on #134
Release should happen today or tomorrow at the latest

[2016-03-31 05:23] eivantsov commented on #134
@fbricon thanks! Looking forward to it!

[2016-03-31 14:19] jcantrill commented on #134
just released.

[2016-03-31 14:28] kaimago opened #141 "How to add-role-to-user ?"
I miss the function to add a role to a serviceaccount.
Something like this:

oc policy add-role-to-user edit system:serviceaccount:projectname:serviceaccount -n ..

Is this a featurerequest or is it already implemented ?

[2016-04-01 13:22] jcantrill commented on #141
This would be a feature request to add an API to do this in a simplified fashion.  You can probably, however, recreate all the steps that the oc binary is doing.  By enabling '--loglevel=9' on the 'oc policy' command you can see the REST calls its making.

[2016-04-06 06:31] securelord opened #143 "Authentication rest client via tokens"
Using the rest client I was faced with a problem - how to authenticate the client using the tokens?
What actions need to perform on the server?

[2016-04-06 08:35] kaimago opened #144 "Deploy tagged imagestream"
Hi,

i like to deploy a tagged imagestream into a different project.

Commandline is working fine: oc new-app development/testtag

With the restclient api i try to make this:

        ImageStreamImportCapability cap = new ImageStreamImportCapability(project, getiClient());
        DockerImageURI image = new DockerImageURI("testtag");
        IImageStreamImport imported = cap.importImageMetadata(im

[2016-04-06 15:10] jcantrill commented on #144
I'm not really sure what you are trying to accomplish here.  'oc new-app' is for deploying an image to openshift which should create a service, deploymentconfig, imagestream, and possibly a buildconfig.  This is essentially the command for "create all the resources needed to support my application on openshift".  The ImageStreamImportCapability is equivalent to 'oc import-image' and is used to to

[2016-04-06 15:16] jcantrill commented on #143
Retrieve your token from `SERVER_URL/oauth/token/request` or by `oc whoami --token` and provide it like

`client.setAuthorizationStrategy(new TokenAuthorizationStrategy(token));`

[2016-04-06 15:17] jcantrill commented on #134
@eivantsov have you had an opportunity to verify the new release resolves your issue?

[2016-04-07 07:14] kaimago commented on #144
I try to adapt this blog:
https://blog.openshift.com/promoting-applications-across-environments/

--tag imagestream in project development
--deploy this tagged imagestream into a new project

oc new-app development/myapp:promote

how can I solve this with the openshift-restclient-java ?

[2016-04-07 12:08] jcantrill commented on #144
The openshift-restclient-java does not have feature parity with the 'oc binary'.  Many of the commands available by 'oc' are written in the client binary and are not replicated in the java client.  In order to enable similar functionality in the Jboss Tools (https://github.com/jbosstools/jbosstools-openshift), we have had to duplicate it, though even that is not exactly the same.  There is an effo

[2016-04-07 13:29] kaimago commented on #144
ok, thanks for the info.
is there any schedule about moving missing operations to the client implementation ?

[2016-04-07 14:23] jcantrill commented on #144
@kaimago no schedule at this time

[2016-05-09 19:37] jcantrill commented on #134
closing

[2016-05-09 19:37] #134 closed

[2016-05-19 11:00] #144 closed

[2016-06-09 09:13] kaimago opened #171 "WatchClient should support proxy"
WebSocketClient implementation in WatchClient has unfortunately no proxy support.

Is there any chance that you change the WebSocket-implementation or do you wait for Jetty 10 WebSocketClient ?

http://stackoverflow.com/questions/29430503/java-websocket-with-proxy
http://stackoverflow.com/questions/32785018/configuring-jetty-websocket-client-to-use-proxy

[2016-06-09 13:58] jcantrill commented on #171
We would probably not change the client library other then upgrade.  Can you provide a test scenario to replicate.
cc @fbricon

[2016-06-09 14:07] jcantrill commented on #171
@kaimago I havent fully digested the last link, but it appears there are certain proxies that are supported by websockets and jetty.  I'll need to read further since I dont see an obvious timelien for Jetty 10

[2016-06-13 09:57] dermitdemwolftanzt opened #172 "How to change login timeout?"
Using the AuthorizationClient with BasicAuthorizationStrategy and socket TIMEOUT is hardcoded to 10000(10 secs.). How can I overwrite this value?

[2016-06-14 07:55] dermitdemwolftanzt commented on #172
Solution for me: unfortunately the class AuthorizationClient is not intended to be extended. So I have replaced this class with my own Implementation class, it seems not to be the best approach. Any suggestions are more than welcome, thank you!

[2016-06-14 12:47] jcantrill commented on #172
@dermitdemwolftanzt There obviously is no solution without changing the code.  I would consider submitting a PR that makes changes to ClientBuilder to pass a default timeout to the IClient impl and subsequently to the auth client.   This would probably be the cleanest solution.  I'll see if I can work something up.

[2016-06-15 07:36] kaimago commented on #171
I think as far as Jetty WebSocketClient doesn't support to set a proxy there is no chance to get it working. I also didn't find a timeline for Jetty 10, so it's probably take a while.

What do you mean with test scenario to replicate. To reproduce the behaviour you need to put a proxy between your openshift calls.

[2016-06-16 15:51] #172 closed

[2016-06-20 11:23] dermitdemwolftanzt commented on #172
Unfortunately the **login** timeout issue still existing. For eg. if I'm using the following code to initilise my auth-client:
IAuthorizationClient authClient = new AuthorizationClient(client);
IAuthorizationContext context = authClient.getContext(client.getBaseURL().toString());
client.setAuthorizationStrategy(new TokenAuthorizationStrategy(context.getToken()));
etc. Regarding to this I'll send b

[2016-06-30 21:00] MitchTalmadge opened #184 "Documentation?"
Does any documentation exist for this client? It's pretty useless without any documentation showing how to actually use it. The snippet on the README.md has a syntax error and uses a deprecated method.

[code]

[2016-07-01 01:03] jcantrill commented on #184
There is a pending pull request here
https://github.com/openshift/openshift-restclient-java/pull/179 that will
be merged shortly which more accurately reflects the current state of the
client and includes an updated README. The largest difference is around the
authorization bits. I expect the PR to merge in the next several days.

On Thursday, June 30, 2016, Mitch Talmadge <notifications@github.co

[2016-07-01 01:21] MitchTalmadge commented on #184
Looks great, thanks!

[2016-07-01 20:13] #184 closed

[2016-07-07 18:50] jcantrill commented on #171
@kaimago #179 removed the dependency on jetty to okhttpclient.  Please retest your proxy concerns with this change to see if it addresses them.

[2016-07-07 18:51] jcantrill commented on #143
@securelord closing this issue as it is no longer relevant as of #179.  Supply the token to the ClientBuilder as described in the README.

[2016-07-07 18:51] #143 closed

[2016-07-07 18:53] jcantrill commented on #141
Closing issue for now.  Feel free to open a feature request https://issues.jboss.org/browse/OSJC

[2016-07-07 18:53] #141 closed

[2016-07-11 10:17] kaimago commented on #171
It's working :)

Thanks a lot !!!

[2016-07-11 10:18] kaimago commented on #171
Are you planning to build a release-version soon ? :)

[2016-07-11 12:00] jcantrill commented on #171
I will deploy a snapshot release but it might be awhile before the final
Jar is out

On Monday, July 11, 2016, Kai <notifications@github.com> wrote:

--
--
Jeff Cantrill
Senior Software Engineer, Red Hat Engineering
OpenShift Integration Services
Red Hat, Inc.
*Office*: 703-748-4420 | 866-546-8970 ext. 8162420
jcantril@redhat.com
http://www.redhat.com

[2016-07-12 20:22] jcantrill commented on #171
deployed the latest snapshot

[2016-07-12 20:22] #171 closed

[2016-07-18 20:43] MarkRx opened #189 "Connection TLS/SSL error - not sending HOST in header?"
Hello,

I am getting a TLS/SSL certificate error when attempting to log in to OpenShift. Basically what is happening is when I hit the openshift url (aaa.myinstance.com:8443) the code ends up with a cert error that requires "openshift-signer@1488501423" instead of being what is expected (the one used by aaa.myinstance.com:8443). That is an internal certificate that I am told is used by a cluster c

[2016-07-19 14:14] MarkRx commented on #189
The TLS Client Hello message in java is not sending server_name (SNI). This results in the wrong cert being returned. More research pending...

[2016-07-19 15:24] MarkRx commented on #189
I may be hitting this jre bug: https://bugs.openjdk.java.net/browse/JDK-8144566

[2016-07-19 18:08] MarkRx commented on #189
It is indeed a jre bug. Workaround for me was to not use a custom ISSLCertificateCallback

[2016-07-19 18:08] #189 closed

[2016-07-26 21:03] adietish commented on #189
oh, wow, nice catch!
...fixed in OpenJDK 9 only afaics.
In JBoss Tools we actually use a custom certificate callback and thus didnt notice :(

[2016-07-28 10:08] matteoturra opened #192 "New app from template"
Hi, I didn't find how to call new-app (or Add to Project in web UI) command via REST API.
Is this feature implemented?

[2016-07-28 12:21] jcantrill commented on #192
The new-app functionality is written all client-side in the oc binary and is not necessarily represented in this library. The openshift-restclient-java does provide some similar capabilities as the binary but it mostly is a java representation of the openshift golang types.

Please see https://github.com/openshift/openshift-restclient-java/blob/master/README.md for creating a project and generally

[2016-07-28 12:25] MarkRx commented on #189
I do not know about other JDKs. I was running the Oracle sun jdk 1.8.0_91. Not using a custom certificate callback works for me.

[2016-07-28 12:31] jcantrill commented on #189
@adietish we appear to have a solution here with a limited number of cases (1) that have exposed this issue.  I would agree to not doing anything for now and look into a workaround if we see this is becoming problematic

[2016-08-10 20:25] jcantrill commented on #192
Closing.  Please reopen if you require additional info.

[2016-08-10 20:25] #192 closed

[2016-09-15 12:44] lulf opened #208 "ResourceFactory unable to create ConfigMap instances"
I'm having an issue in my client using a watcher to watch config maps after upgrading to 5.1.0.Final. My watcher listener code looks like the following:

[code]

The cast worked earlier, but failed on 5.1.0.Final. After 4.0.5, the ConfigMap kind was explicitly removed from ResourceFactory (https://github.com/openshift/openshift-restclient-java/commit/557d5ee492ec4d6bafb9d1fa5006afcab8e421b2), and

[2016-09-15 12:51] lulf commented on #208
For reference, this is the exception:

2016-09-15 12:24:59 INFO  OpenshiftConfigMapDatabase:60 - Resource kind is ConfigMap with class com.openshift.internal.restclient.model.KubernetesResource
Exception in thread "OkHttp Dispatcher" java.lang.ClassCastException: com.openshift.internal.restclient.model.KubernetesResource cannot be cast to com.openshift.restclient.model.IConfigMap
	at

The Resource

[2016-09-15 12:53] jcantrill commented on #208
@lulf I wonder if this is a bad merge since I thought the 'typemapper' would not come in until https://github.com/openshift/openshift-restclient-java/pull/205 is merged.  I'll have to investigate

[2016-09-15 17:19] vnugent opened #209 "How to create new app based on existing template"
I was hoping the Java API would somewhat resemble the `oc` cli but it doesn't.

In particular how would one create a new app based on existing template? eg  `oc new-app -template my-java-app`

[2016-09-15 18:40] jcantrill commented on #209
Many of the functions and commands provided by 'oc' are baked into the client instead of residing server-side meaning LOTS of code and process duplication.  'new-app' especially does a lot of black magic to achieve the outcome you see from it.  This client attempts to primarily provide support so you can do similar things with a little effort and using some of the known endpoints that are availabl

[2016-09-21 08:44] kaimago opened #212 "HorizontalPodAutoscaler"
Are you planning to support HorizontalPodAutoscaler ?

https://docs.openshift.com/enterprise/3.2/dev_guide/pod_autoscaling.html

[2016-09-21 16:38] jcantrill commented on #212
I'm not certain what you mean regarding "..planning to support HorizontalPodAutoscaler..".  Do you mean a  type that represents the same thing?  If so, currently there is no explicit direction to add it to the client unless there is a need for it.  We generally add types and functionality as requested or needed, primarily driven by either Jboss tools or the OpenShift jenkins plugin.

[2016-09-22 06:01] kaimago commented on #212
yes, I mean a new type for HorizontalPodAutoscaler.  I just want to ask before I switch to kubernetes-client.

[2016-09-22 06:01] #212 closed

[2016-09-22 06:12] kaimago opened #214 "Support Jolokia request"
To Support Jolokia-Request like this:

https://baseurl/api/v1/namespaces/projectname/pods/https:podname-7-fl9hk:8778/proxy/jolokia/exec/java.util.logging:type=Logging/getLoggerLevel/org

execute Methode just need an additional parameter to put e.g. "/jolokia/exec/java.util.logging:type=Logging/getLoggerLevel/org" add the end of the request.

execute(String httpMethod, String kind, String namespace

[2016-09-23 23:21] transamericamoon opened #215 "List is returning Objects instead of Items"
I can't find a spec for Kind: List but every example i've seen it returns items.  For some reason yours returns Objects.  From what i've seen only templates have Objects.  If this is incorrect can you point me to the API specs for kind: List.

Issue is here:
https://github.com/openshift/openshift-restclient-java/blob/master/src/main/java/com/openshift/internal/restclient/model/List.java#L74

I can

[2016-09-26 14:46] jcantrill commented on #214
Feel free to submit a PR that overloads that function.  I would suggest it either takes a map or a vararg for additional parameters.  Or what might be even better, I'm wondering, if it would be better to overload with a parameter that is some sort of callback.  Callback would provide additional processing since the URL pattern does not appear to be query args, but something more; it appends to the

[2016-09-26 14:46] jcantrill commented on #209
Closing.  Please re-open if there are additional questions.

[2016-09-26 14:46] #209 closed

[2016-09-26 16:47] jeffmaury commented on #214
+1 for being a little more generic, thus adding a map or a callback (as I don't know if this proxy kind of request is being standardized or not)

[2016-09-26 21:32] #215 closed

[2016-09-29 18:08] vnugent opened #219 "Custom labels not set for pods"
When deploying new app with custom labels all labels are created in services, pods, etc as expected.
`oc new-app --template=hawkular-full -l mylabel=foo`

In my case the label 'ircbot' is correctly created in Deployment Config, Services and Routes but missing in the Pod yaml.

[code]

[2016-09-29 19:01] jcantrill commented on #219
You are seeing a general behavior associated with templates and not necessarily an issue in this client.  'oc new-app' has a lot of functionality built into the client which takes the proactive approach of spinning through all the resources it will create and applying the labels that are passed in.  Templates will apply the defined labels to all the top level object defined in the template, but th

[2016-09-29 20:12] vnugent commented on #219
thanks for the explanation

[2016-09-29 20:12] #219 closed

[2016-10-04 05:32] #214 closed

[2016-10-21 13:15] #208 closed

[2016-10-27 22:00] mnadelson opened #235 "IServicePort does not include a method to get/set the Node port"
When calling Service.getPort() the IServicePort interface only returns the port and targetPort.  There is no interface to return the nodePort.

[2016-10-27 22:01] mnadelson commented on #235
I have coded and tested a fix for this and would be happy to do a pull request to contribute the fix.  Please  let me know if its OK to do the pull request.

[2016-10-27 23:18] jcantrill commented on #235
Pull requests are always welcome.

On Thu, Oct 27, 2016 at 6:01 PM, mnadelson <notifications@github.com> wrote:

--
--
Jeff Cantrill
Senior Software Engineer, Red Hat Engineering
OpenShift Integration Services
Red Hat, Inc.
*Office*: 703-748-4420 | 866-546-8970 ext. 8162420
jcantril@redhat.com
http://www.redhat.com

[2016-10-28 14:15] mnadelson commented on #235
Do you have a contributor license agreement?  If so can you point me to it?

[2016-10-28 14:25] jcantrill commented on #235
@mnadelson  we do not have a requirement of signing a CLA

[2016-11-11 17:11] jcantrill opened #240 "URLBuilder warning should be case insensative"
URL is lowerase so the fact that it doesnt exactly match whats in ResourceKind should not care either.
[code]

[2016-12-13 10:53] dermitdemwolftanzt opened #241 "Reading current user role"
Hallo,

I'm looking for a way to read the _user's role_.
With the same user, I can read my role from CLI:
`oc describe policyBindings : default`
Now I'm trying to use the restclient, if I call this method:
`client.list(ResourceKind.POLICY_BINDING);`
I'm gettting the following exception:
`An exception occurred: com.openshift.restclient.authorization.ResourceForbiddenException`
I need to find out th

[2016-12-13 12:55] bjartek opened #242 "ResouceKind Endpoint is missing"
Hello,

It looks like endpoints from the kubernetes api is missing. https://docs.openshift.com/container-platform/3.3/rest_api/kubernetes_v1.html#v1-endpoints

Is there a reason for this or is it just something that has not been done yet?

[2016-12-13 14:10] jcantrill commented on #241
- Did you instantiate the client as describe here: https://github.com/openshift/openshift-restclient-java#usage
- Do you have the proper permissions to read the default namespace?
- Can you define exactly what information you require and detail how you tried to retrieve it?

Note this client is not a replacement for 'oc' as 'oc' has ALOT of functionality that is baked in that has not been replicat

[2016-12-13 14:13] jcantrill commented on #242
Resource types have only been added as needed, mainly in support of Jboss Tools.  You can still retrieve endpoints by providing it "endpoint" as the resource kind which will return a generic resource instance.  I will take a not to add it in.

[2016-12-13 14:38] dermitdemwolftanzt commented on #241
Thank you, answering your questions:

- Yes, have instatiate the client (using token) properly. I can use this client to list the project using the following code:
`client.list(ResourceKind.PROJECT);`
- Yes, I'm using the same client to put projects, etc. using webconsole without any problems.
- I try to read client's role, for e.g. I added a role (_edit_) to this user:
`oadm policy add-role-to-us

[2016-12-13 15:06] jcantrill commented on #241
I'm investigating but can you clarify how you retrieve policy bindings since the given syntax is not valid.  I assume you are trying to retrieve policy bindings from the default namespace? Which would be:

```oc describe policybindings -n default```

[2016-12-13 15:28] dermitdemwolftanzt commented on #241
It's a valid syntax (`oc describe policyBindings :default` ) :
[https://docs.openshift.com/container-platform/3.3/admin_guide/manage_authorization_policy.html#viewing-local-policy](url)
Have tested it. Thank you.

[2016-12-13 15:38] jcantrill commented on #241
Added PR to verify.   While testing:

- Log in as a developer with no cluster admin privileges, I get forbidden errors trying to read the default namespace.
[code]
- Log in as a cluster-admin, and specifying the namespace:  test passes without error.
- Log in as a cluster-admin and using the method signature where you do not specify a namespace:
[code]
Maybe your token is invalid or expired.  You

[2016-12-13 15:42] jcantrill commented on #241
@dermitdemwolftanzt ahh... i see.  the original syntax you provided added a space between the kind and policy name which is why i did not recognize the command you provided

[2016-12-13 16:24] dermitdemwolftanzt commented on #241
I'm quite sure that the token I'm using not expired/invalid, as you see you could reproduce this as well. As I said, the user is not cluster-admin/cluster-reader on purpose. So back to my initial question, is that any way to find out which role does the current, non priviledge user has, using restclient, without using (other) priviledge user (cluster admin/cluster reader) ?

[2016-12-13 16:25] securelord opened #244 ""The api endpoint for kind 'ImageStream' requires a namespace""
Hi.
I try get all ImageStream's from server:
`List<IImageStream> streams = *IClient*.list(ResourceKind.IMAGE_STREAM);`

but get exception:

`The api endpoint for kind 'ImageStream' requires a namespace`

[2016-12-13 16:27] securelord commented on #244
Earlier I used the version 4.0.5 and all was well.

[2016-12-13 19:18] jcantrill commented on #241
The only way to accomplish that now might be to bump up the log level on the oc client via --loglevel=8 and see what REST calls are being made when doing 'oc who-can' and to replicate it in a capability.  You might also be able to make similiar calls to what we are doing and provide the namespace for which you are interested.  This should provide you with some information.  This limitation, howeve

[2016-12-13 19:21] jcantrill commented on #244
You must provide a namespace.  This method signature should be deprecated since it was for the 'default' namespace and only cluster-admins can make queries against it.

[2016-12-14 14:28] securelord commented on #244
Hi.
Thanks for answer.
How can I get a list of server templates(php:5.6, ruby:2.0 etc) without reference to the name of the project?

Thanks.

[2016-12-14 15:45] #244 closed

[2016-12-15 10:08] bjartek commented on #242
Thanks!

[2016-12-15 14:36] bjartek opened #246 "Serverside filtering of GET requests"
When doing a GET request with labels the filtering is now done clientside. There is a todo in the code to figure out how to do this serverside.

All GET queries to the oapi endpoints support a labelQuery queryparameter. So in my eyes a solution could be to convert labels to csv string and add them as a query paramter to the URL builder.

I have done an attempt in my fork on how to do this. I have

[2016-12-16 09:56] bjartek opened #248 "Trying to fetch all deploymentConfigs in all namespaces"
I get an error "The api endpoint for kind 'DeploymentConfig' requires a namespace" when i try to fetch deploymentConfigs with the code

`        return client.list(ResourceKind.DEPLOYMENT_CONFIG, "", "affiliation=demo");
`

Namespace is left empty since i want deployment configs in all namespaces that match the given filter query. Ideally the method signature should not have the empty namespace at

[2016-12-16 14:01] bjartek commented on #248
see

https://github.com/bjartek/openshift-restclient-java/pull/1/commits/d743b0a24d6977756fb1ffdc8a7ebf03c7b2fd40

[2016-12-16 16:16] jcantrill commented on #248
To list across the cluster you need specific permissions (e.g. cluster-reader).  Listing across the cluster is the same as:
`https://192.168.121.204:8443/api/v1/pods`

which returns when logged in as a normal user:

[code]
The question is what are the ramifications of making this change.  I think the only obvious one is that someone using the client might not understand they have to provide a name

[2016-12-19 14:23] #242 closed

[2016-12-19 14:28] jcantrill commented on #242
deployed latest snapshot to nexis with this change.

[2017-01-03 21:23] #246 closed

[2017-01-12 13:05] bjartek commented on #248
What about creating a seperate client that has methods that needs special privileges?

[2017-01-13 14:38] jcantrill commented on #248
Re-reading my response, given we try to be consistent with the 'oc' binary, please submit a PR with the change.  I defer to consistency.  Please add a debug message to replace the Exception.  Maybe along the lines of something like: <KIND> is a namespaces resource but no namespace was provided

[2017-01-14 19:24] bjartek commented on #248
Not really sure what Exception you wanted to me replace with a debug message. If you can point that out to me i will gladly change it.

[2017-01-17 21:16] #248 closed

[2017-01-17 22:58] bjartek commented on #248
Do you know when you plan to cut the next release?

[2017-01-18 13:31] jcantrill commented on #248
5.4.0 SNAPSHOT just deployed to maven.  Not sure when the next final
release will be.

On Tue, Jan 17, 2017 at 5:58 PM, Bjarte S. Karlsen <notifications@github.com

--
--
Jeff Cantrill
Senior Software Engineer, Red Hat Engineering
OpenShift Integration Services
Red Hat, Inc.
*Office*: 703-748-4420 | 866-546-8970 ext. 8162420
jcantril@redhat.com
http://www.redhat.com

[2017-02-08 19:44] bjartek opened #256 "Support for async execution"
Have you considered supporting an async execution model for the main operations?

OkHttp supports it really well and looking at the source it should not be that hard to just create another Listener kinda like the WatchListener and expose some new methods that require that listener.

Then it would be possible to create a separate lib with RxJava that just wraps that listener. Or spring Reactor, or

[2017-02-08 21:58] jcantrill commented on #256
We have not but feel free to offer a PR.  The largest consumer is jbosstools that wraps many operations into a job that allows us to achieve the same effect. I would consider, for sake of making it cleaner, to introduce an asyncclient that is adapted from IClient.  I'm interested in seeing your proposal

[2017-02-16 15:09] adietish opened #259 "lacking support for BuildConfig source type "Binary""
Our build configs are not supporting the source type "Binary" as documented here: https://docs.openshift.com/container-platform/3.3/dev_guide/builds.html#binary-source

[2017-02-16 15:10] adietish commented on #259
@jcantrill I discovered this when we were reported https://issues.jboss.org/browse/JBIDE-23815 in JBoss Tools

[2017-02-16 15:37] adietish commented on #259
btw. in this we can see the drawback of using enums:
If the source type wasnt an enum we could simply display the value, ommitting the "advanced" properties for it. Given that the source type is an enum in the library, we can only get either return null or an "UNKNOWN" enum. If it was a normal class we could return a generic type which would at least show the name.

[2017-02-16 21:58] jcantrill commented on #259
@adietish I thought we removed all references to enums for the reasons you describe.

[2017-02-22 09:19] kaimago opened #260 "Jolokia response, error with 5.5.0.FINAL"
With 5.5.0.FINAL calls against jolokia api are not working anymore, because they don't have a "kind" / "version" in response.

Error is occuring in ResourceFactory (227) --> getResourceClass (IVersionedApiResource endpoint = mapper.getEndpointFor(version, kind);)

With 5.3.0.FINAL it was running properly.

[2017-02-22 14:59] jcantrill commented on #260
Can you provide more detail of what you are trying to do?  Maybe include information regarding the resource you are trying to retrieve?  The version of the server you are calling.

[2017-02-23 06:56] kaimago commented on #260
like in the URLBuilderTest --> testAddingASubContext

@Test
	public void testAddingASubContext() {
		IResource resource = givenAResource(ResourceKind.POD, KubernetesAPIVersion.v1, "https:demo-app-8-3gehi:8778");
		String url = builder.
				resource(resource)
				.name("bar")
				.subresource("proxy")
				.subContext("jolokia/exec/java.util.logging:type=Logging/getLoggerLevel/abc")
				.build().toS

[2017-03-14 18:24] strowk opened #261 "There is no possibility to update application from template"
In openshift CLI there is possibility to apply changes in template.
case is:
use template to create application
change template
process and apply updated template
after this three steps openshift CLI would create missing resources and update existing, but in java client IProjectTemplateProcessing#apply only leads to creation of resources (no update for existing).
In case if resource already exists

[2017-03-14 18:34] strowk opened #262 "IUpdatable capability does not post anything"
Code from
https://github.com/openshift/openshift-restclient-java/blob/master/src/test/java/com/openshift/internal/restclient/capability/resources/UpdateableCapabilityTest.java

`		service.accept(new CapabilityVisitor<IUpdatable, IService>() {

			@Override
			public IService visit(IUpdatable capability) {
				capability.updateFrom(target);
				return null;
			};
		}, null);`

looks like it would r

[2017-03-14 18:47] jcantrill commented on #262
This test essentially confirms that the service is updated to match the service passed to it.  As you note, this does not actually reconcile the changes to the server.  It may be the interface and class are poorly named.  You would have to additionally pass the 'updated' service to the client for the state to be reconciled.

[2017-03-14 18:50] jcantrill commented on #261
There is not guarantee this client functions in the same manor as the CLI.  There is quite a bit of logic that is client side as part of the CLI that has to be reproduced in each client (e.g. managment console, this one).  I recommend you open a feature request to move this logic server side for other clients to consume.

Feel free to open a PR to correct the logic here.  Community additions are a

[2017-03-22 11:55] cmoulliard opened #263 "User Token not available when we call oclient.getAuthorizationContext().getToken());"
When we are connected/authenticated to openshift

[code]

is it possible to get the OAuth token as we can do with the command `oc whaoami -t` ? If yes, how ?

[2017-03-22 13:21] cmoulliard commented on #263
I have discovered the issue. I can get the token if I move this line

[code]
 after

[code]

[2017-03-27 08:07] adietish commented on #263
you're perfectly right, but I believe that this is an issue that we should file: it's unexpected that you get the token only after calling #isAuthorized. Dare to file an issue please?

[2017-03-28 07:01] cmoulliard commented on #263
@adietish Changed the title in order to keep track of this issue

[2017-03-28 11:55] adietish commented on #263
+1, thx!

[2017-03-29 15:06] dilation opened #264 "IClient doesn't seem to be threadsafe"
`IClient` (as created by `ClientBuilder`) doesn't seem to be threadsafe:

[code]

At first glance, the problematic code seems to be in `com.openshift.internal.restclient.ApiTypeMapper#init()`:

[code]

This doesn't seem to be threadsafe, thus another thread can see `initialized` as `true`, and `resourceEndpoints` still as `null`. Would we lose anything if `init` would be simply `synchronized`? The

[2017-03-29 19:23] jcantrill commented on #264
There is probably no specific reason 'init' could not be synchronized other then it would lock the entire object.  Given we have no specific performance requirements, this is not an immediate concern.

[2017-03-30 08:46] dilation commented on #264
Ok, please see pull request #265.

[2017-03-30 14:47] #264 closed

[2017-03-30 16:20] jcantrill commented on #264
Pushed out in the latest 5.5.0 snapshot

[2017-04-05 10:01] dernasherbrezon opened #266 "Unused jsch dependency"
Can't find any jsch usages. Besides restclient should not depend on ssh library.

Please remove this dependency

[2017-04-05 15:07] #266 closed

[2017-04-06 10:21] adietish opened #268 "add support for Build Strategy "JenkinsPipeline""

[2017-04-07 23:21] adietish commented on #268
In the doing with #269

[2017-04-17 21:12] adietish commented on #268
#269 was merged, resolving.

[2017-04-17 21:12] #268 closed

[2017-04-26 14:26] dilation opened #270 "Publish javadoc JARs"
Currently there are no javadoc JARs on MavenCentral (e.g., http://repo1.maven.org/maven2/com/openshift/openshift-restclient-java/5.5.0.Final/). It would be nice to have them.

[2017-05-09 11:17] heiko-braun opened #271 "Clarification: What openshift version can the 5.5.0 client be used with?"

[2017-05-09 11:30] Ladicek commented on #271
The `README` has a nice _Compatibility_ table... except that it doesn't really provide much info. That table should be filled with actual content, at least for each released version IMHO.

[2017-05-09 12:57] jcantrill commented on #271
TBH, we have been derelict in keeping the client moving along as we should.  The compatibility table is really a documentation of versions that I have explicitly tested and know to work with given versions of the OS cluster.  You may find it still works with other versions, but I have not had an opportunity to explicitly verify that.

[2017-05-09 13:00] jcantrill commented on #271
@adietish Can you attest to what version 5.5 compatible with?  What version of JBT consumes it now?

[2017-05-10 16:34] jorgemoralespou commented on #271
Since 5.6.0 is released, maybe you should reflect to which versions do 5.5.0 and 5.6.0 match (or are tested).

[2017-05-24 09:13] dernasherbrezon opened #273 "Container.setCommandArgs adds arguments instead of replacing them"
In Java "set" verb often refer to "set and replace previous". See `List.set` for example or getters/setters pattern. Currently `container.setCommandArgs` will append arguments to the existing list, rather than replacing original list.

Expect:
- replace previously defined OR
- rename method to "addCommandArgs" and add new method "putCommandArgs". As changing command line args is a very useful feat

[2017-05-24 19:36] jcantrill commented on #273
@dernasherbrezon Pull requests are welcome.  We will need to alias and deprecate the existing functionality to comply with your suggestion

[2017-06-09 13:44] heiko-braun opened #274 "Please update the pom.xml version if a tag is created"
The pom.xml of the `5.6.0.Final` tag still carries the `5.6.0-SNAPSHOT` version: https://github.com/openshift/openshift-restclient-java/blob/openshift-restclient-java-5.6.0.Final/pom.xml#L20. The pom.xml version should be `5.6.0.Final` instead.

[2017-06-09 13:47] jcantrill commented on #274
@adietish Can you update? Did you publish 'final'?

[2017-06-09 14:47] heiko-braun commented on #274
Would also work for me if it's fixed with the next release

[2017-06-09 18:46] kenfinnigan commented on #274
I'm not sure how, but though the tag in the repository says SNAPSHOT, the version available in maven central is Final: http://search.maven.org/#artifactdetails%7Ccom.openshift%7Copenshift-restclient-java%7C5.6.0.Final%7Cjar

Would certainly be better if the tag had the actual version name of the release in pom.xml

[2017-06-12 08:58] adietish commented on #274
@heiko-braun @jcantrill @kenfinnigan that's how we released in openshift-restclient-java so far: tag the source, change the pom, deploy to nexus and commit the bump to the next snapshot in source. The only minor downside of it I see is that the version in pom/source that the tag is pointing to is wrong, the code is correct though. We can change this for the next release if the consensus is that we

[2017-06-12 10:42] heiko-braun commented on #274
@adietish The reason for requesting this change is that the productisation tools cannot build a tag correctly if the version points to a snapshot in `pom.xml`. For a seamless integration we would need to the `pom.xml` to correspond to the tag version.

[2017-09-05 15:45] jhalliday opened #285 "can't get types scoped by an apiGroupName"
$ oc --loglevel=10 get TemplateInstance
...
GET https://192.168.42.1:8443/apis/template.openshift.io/v1/namespaces/myproject/templateinstances
...

client.get("TemplateInstance", "myproject");
com.openshift.restclient.UnsupportedEndpointException: Unable to determine the api endpoint for kind 'TemplateInstance'

The URLBuilder constructs a VersionedApiResource with apiGroupName=null, so it doesn't

[2017-09-06 14:08] tplevko opened #286 "can't get UID from IUser"
Using this short code I can get all the users on my minishift instance:

final List<IResource> resource = client.list("users");
for (IResource r : resource) {
	IUser user = (IUser) r;
	log.info(user.--------);
}

There is however no method "getUid" in IUser, using which I could get the user UID.
The oc get user command out for ilustration:
NAME           UID                                    FULL

[2017-09-06 14:37] jcantrill commented on #286
We will add an accessor but as a work around you can use the capability to retrieve the value [1].  I haven't tried the following but it should be something like:
[code]

[1] https://github.com/openshift/openshift-restclient-java#usage
[2] https://github.com/openshift/openshift-restclient-java/blob/master/src/main/java/com/openshift/restclient/capability/resources/IPropertyAccessCapability.java
[3

[2017-09-07 06:10] tplevko commented on #286
Thank you Jeff, it works just fine!

[2017-09-13 19:26] jcantrill commented on #285
@adietish Care to try to address?

[2017-09-25 17:35] bakito commented on #259
This would be a cool feature, since I'm triggering binary builds from build pipelines.

The work-around, I'm currently using is via the openshift cli.

sh 'oc start-build --from-dir=<dir_name>'

[2017-10-12 15:19] nemoo opened #292 "How to set env variable in buildConfig"
Hi!

Sorry, this is really a usage question, if wanted I can also repost it to stackoverflow.

I need to update an env entry in an existing buildConfiguration. In Pseudocode I would need something like:

Patch buildconfig "myexistingbuildconfig":
set "spec" > "strategy" > "sourceStrategy" > "env" > "name": "ARTEFACT_URL"
to "value": "https://www.artefactserver.com/example/1"

I looked into the tes

[2017-10-13 07:47] jeffmaury commented on #292
You should use com.openshift.restclient.model.build.IBuildConfigBuilder then call usingSourceStrategy to get com.openshift.restclient.model.build.IBuildConfigBuilder.ISourceStrategyBuilder where you have a withEnvVars method.

Please note this is not the place to ask for questions, there is a mailiing list for that

[2017-10-13 08:37] nemoo commented on #292
Thanks will try that!

[2017-10-13 08:37] #292 closed

[2017-10-23 20:17] neon-paradise opened #293 "Creation ConfigMap"
Hello

How can I create ConfigMap with data field?
IConfigMap does not allow set it value.
`configMap.getData().put(key, value);` - does not worked

And how add this ConfigMap to DeploymentConfig?
I did't find the right way.

Help me, please.

[2017-10-24 09:44] jeffmaury commented on #293
Please use the Google groups for questions. There are two issues there:
- IConfigMap is read only, changed to the returned map are not propagated
- in IContainer, there is no provision for ConFigMap based variables

Feel free to open tickets

[2017-10-24 11:08] #293 closed

[2017-10-24 18:01] neon-paradise commented on #293
I'm so sorry, but I could not find the Google group.
Could you send me a link?

[2017-10-25 06:29] jeffmaury commented on #293
Sorry I was wrong this is a ML. See https://github.com/openshift/openshift-restclient-java

[2017-10-25 13:31] jcantrill commented on #293
@neon-paradise Pull requests are welcome.  There are several examples in the library for model changes

[2017-11-03 14:00] apupier opened #299 "[enhancement]Differentiate test requiring an OpenShift instance and thus which doesn't"
it will allow to launch the test without an OpenShift instance more easily (perhaps even continuously with inifinitest for instance)
Having unit test for the ones which doesn't require an OpenShift instance and Integration test separation for the tests which requires an OpenShift instance would be nice

[2017-11-03 14:03] apupier commented on #299
realizing that they re already differentiated by name, would be nice to move them in a src/it/java folder
see https://maven.apache.org/guides/introduction/introduction-to-the-standard-directory-layout.html

[2017-11-03 14:10] apupier opened #300 "[bug]Rsync is not working when the local folder path to rsync contains a space"
the returned error is "only SOURCE_DIR and POD:DESTINATION_DIR should be specified as arguments"

[2017-11-03 14:14] apupier commented on #300
I hope that this test will emphasize the issue: https://github.com/apupier/openshift-restclient-java/tree/300-RsyncErrorWhenPathContainsSpace

[2017-11-03 14:25] jeffmaury commented on #300
I think this is an oc issue. @bdshadow can you confirm ?

[2017-11-03 14:40] bdshadow commented on #300
@apupier @jeffmaury most probably it's bug, which we'already discussed with you @apupier . Even though it has been fixed in the upstream oc client, it is backported to old version. So it'll work only starting from some version of oc client (at least 3.6.x must work fine)

[2017-11-03 14:42] apupier commented on #300
if you are mentioning this bug https://github.com/openshift/origin/issues/15187 this is not the same.
The pointed bug it is when the "path to oc" has space to it, not when the folder to rsync contains space.

[2017-11-07 15:56] apupier commented on #300
I managed to have the Integration test running locally using the IDE (not from maven command-line) but it was enough to emphasize the bug with the test. I updated the branch:
https://github.com/apupier/openshift-restclient-java/tree/300-RsyncErrorWhenPathContainsSpace

![image](https://user-images.githubusercontent.com/1105127/32503055-8a48b03e-c3dc-11e7-8e72-8ba47e37be10.png)

[2017-11-07 17:48] apupier commented on #300
I'm able to have it working from cygwin terminal:
[code]

but not from cmd:
[code]

It seems that we need to provide some quotes in openshift-rest-client for sure and then will need to understand why it is working from cygwin and not from cmd (and neither from openshift-rest-client when adding the quotes)

[2017-11-08 08:36] jeffmaury commented on #300
For cmd I would suggest using real Windows path so should be "C:\Users\Aurelien Pupier\AppData\Local\Temp\junit3759284092951894034\with sp@cé in path" instead of "C:/Users/Aurelien Pupier/AppData/Local/Temp/junit3759284092951894034/with sp@cé in path"

[2017-11-08 12:49] apupier commented on #300
I have the same error with backslash from cmd:
[code]

[2017-11-08 13:03] radarsh opened #301 "Ignoring SSL issues"
Is there an example that shows how to ignore SSL issues, mainly to do with self-signed certificates. I couldn't find a way to provide a custom `X509TrustManager` using the `ClientBuilder`.

[2017-11-08 13:04] jeffmaury commented on #300
Can you add --log-level=8 to that command ?

[2017-11-08 13:10] apupier commented on #300
with --loglevel=8

[code]

[2017-11-08 13:16] apupier commented on #300
it seems to be an issue when trying to change_dir:
rsync: change_dir "/cygdrive/c/Users/Aurelien Pupier//"/cygdrive/c/Users/Aurelien Pupier/AppData/Local/Temp/junit3882442379303004346" failed: No such file or directory (2)

The target folder in which it is trying to go doesn't have the " character

[2017-11-08 13:41] adietish opened #302 "[feature request] support liveness probe(s)"
It turns out that for https://issues.jboss.org/browse/JBIDE-24868 we'd need to access/alter liveness probe properties.
If you have a liveness probe defined (like many templates these days: nodejs, eap, etc.) your pod gets killed and restarted by the rc if the pod wont succeed with the liveness probe.
In https://issues.jboss.org/browse/JBIDE-24868 we face the situation where you'd break your code a

[2017-11-08 13:47] adietish commented on #302
@jcantrill turns out that for https://issues.jboss.org/browse/JBIDE-24868 we'd need to access/alter liveness probe properties.
If you have a liveness probe defined (like many templates these days: nodejs, eap, etc.) your pod gets killed and restarted by the rc if the pod wont succeed with the liveness probe.
In https://issues.jboss.org/browse/JBIDE-24868 we face the situation where you'd break you

[2017-11-08 15:04] jeffmaury commented on #301
Issues is not a place to ask questions. Please refer to the mailing list.

[2017-11-08 15:10] adietish commented on #301
@radarsh please post a question to https://www.redhat.com/mailman/listinfo/dev or talk to us on IRC on #openshift-client

[2017-11-08 15:10] #301 closed

[2017-11-08 17:10] jcantrill commented on #301
@radarsh Are you unable to use the default Noop or provide your own implementation as defined here: https://github.com/openshift/openshift-restclient-java/blob/master/src/main/java/com/openshift/restclient/ClientBuilder.java#L85

[2017-11-08 17:15] jcantrill commented on #302
I agree with your statement; you need to disable the probe but I do not, without looking at the api, believe there is a quick way to accomplish this.  I think your only options are to:

* extend the timeout
* remove the block

[2017-11-08 17:18] jcantrill commented on #300
@apupier Can you close this issue here and reopen it against https://github.com/openshift/origin.  This appears to be related to the 'oc' binary which will not be resolved by the rest client

[2017-11-08 17:22] radarsh commented on #301
@jcantrill Since the `sslCertificateCallback` is already initialised to `NoopSSLCertificateCallback`, I don't have to. But even if I explicitly set it to `NoopSSLCertificateCallback` or my own implementation, the callback never gets fired. I believe this is because the trust manager isn't configurable.

In other libraries, we can usually provide our own dummy implementation of `X509TrustManager` w

[2017-11-08 19:22] adietish commented on #302
@jcantrill thanks for the feedback.
+1, exactly what I had in mind. Mangle initial delay being my favourite for now but I guess other settings would work too.

[2017-11-09 07:19] jeffmaury commented on #300
@jcantrill there is still issues in the rest client so we should keep it opened. We're trying to figure out all related scenarios

[2017-11-09 13:58] adietish commented on #302
PR (work in progress): https://github.com/openshift/openshift-restclient-java/pull/303

[2017-11-09 15:17] apupier commented on #300
I found how to fix the spaces stuff in openshift-rest-client.
My other errors about permission denied is due to different rsync executable used (will investigate and open a bug in openshift or devsuite installer or cdk for that)

[2017-11-10 10:17] adietish commented on #302
merged rudimentary support for readiness- and liveness-probes (for pod containers) at https://github.com/openshift/openshift-restclient-java/pull/303

[2017-11-10 10:17] #302 closed

[2017-12-01 12:51] laszlokiraly opened #306 "Exec fails"
Following code is expected to log "Test" on the console, instead an error is logged to console.

[code]

Error is: rpc error: code = 13 desc = invalid header field value "oci runtime error: exec failed: container_linux.go:247: starting container process caused \"exec: \\\"echo Hello\\\": executable file not found in $PATH\"\n"

[2017-12-01 15:25] laszlokiraly commented on #306
solved from looking at the test case in https://github.com/openshift/openshift-restclient-java/blob/master/src/test/java/com/openshift/internal/restclient/api/capabilities/PodExecIntegrationTest.java

[code]

[2017-12-01 15:25] #306 closed

[2017-12-14 11:35] adietish opened #307 "container#getLifenessProbe and #getReadinessProbe return probe object even if property doesnt exist"

[2017-12-14 11:39] adietish commented on #307
PR #308
@jcantrill please review

[2017-12-14 11:40] adietish commented on #307
[test]

[2017-12-14 20:02] adietish commented on #307
PR was merged, issue is resolved

[2017-12-14 20:02] #307 closed

[2017-12-22 11:19] dernasherbrezon commented on #285
Due to that StatefulSets are not supported as well.

[2018-02-28 10:46] adietish commented on #300
@jeffmaury with https://github.com/jeffmaury/openshift-restclient-java/commit/a4f4f7ee79c8075dda712b92d0ecc8ac6c326c28 isnt this now fixed?

[2018-02-28 10:49] adietish commented on #274
@heiko-braun latest tags match your requirement afaics. Agree to resolve this issue?

[2018-02-28 10:51] adietish opened #312 "release 5.9.5.Final"

[2018-02-28 10:51] heiko-braun commented on #274
yes, thanks @adietish

[2018-02-28 10:52] adietish commented on #274
@heiko-braun thx for confirming. resolving.

[2018-02-28 10:52] #274 closed

[2018-02-28 12:04] adietish commented on #312
bumped version to 5.9.5.Final in https://github.com/openshift/openshift-restclient-java/pull/313, tagged commit (referencing JBoss Tools version that's consuming it) and released it to maven repository.

[2018-02-28 12:04] #312 closed

[2018-03-02 13:47] Obirah opened #314 "Add "Namespace" as a ResourceKind and create INamespace interface"
Hi,

I'm using the openshift-restclient in an application that needs to update labels on Namespaces/Projects.
OpenShift only allows to change the labels on resources of the type "Namespace" - when you try to update them on a resource of the type "Project" you'll receive a 422 HTTP error code with a message stating that the field is immutable.

Therefore, it would be nice to have a "ResourceKind.NA

[2018-03-05 09:18] jeffmaury commented on #300
Yes I think it can be closed now

[2018-03-05 13:13] adietish commented on #314
+1 since once can see both type is oc cmd-line, too:
[code]

[2018-03-06 14:35] adietish opened #315 ".git exclusion filter when "oc rsync"-ing doesnt work"
If one launches OpenShiftBinaryRSync using OpenShiftBinaryOption.EXCLUDE_GIT_FOLDER, a ".git" folder that exists is still being rsync'ed, the exclusion filter is not applied

[2018-03-07 00:03] Obirah commented on #314
@adietish sure, I can do so. Just let me know how to contribute (feature branch, fork, whatever) and what you'll need me to implement in order to create the Namespace type as a counterpart to Project.

[2018-03-07 19:19] adietish opened #318 "OpenShiftBinaryRSync should allow several exclusion filters (ex. .git, .npm)"
when executing a OpenShiftBinaryRSync one should be able to provide several exclusion filters, no just the exclude for .git that we support currently

[2018-03-08 11:18] bjartek commented on #256
Just a heads up that this is out-of-scope for me to do at this moment. There will be no PR from me on this issue. Feel free to close it if you want.

[2018-03-08 21:47] #315 closed

[2018-03-08 21:49] adietish commented on #315
merged https://github.com/openshift/openshift-restclient-java/pull/317 into master. Resolving.

[2018-03-09 12:37] adietish commented on #286
stumbled upon this simple request and thought I'd give it a try: https://github.com/openshift/openshift-restclient-java/pull/320

[2018-03-09 12:39] adietish commented on #286
@tplevko dare to give it a quick review?

[2018-03-09 14:58] adietish commented on #286
[merge]

[2018-03-09 15:49] adietish commented on #318
deployed maven artifact to https://repository.jboss.org/nexus/service/local/repositories/snapshots/content/com/openshift/openshift-restclient-java/6.0.0-SNAPSHOT/openshift-restclient-java-6.0.0-20180309.154825-1.jar

[2018-03-09 15:52] #318 closed

[2018-03-09 15:53] #300 closed

[2018-03-09 15:53] adietish commented on #286
resolving since PR was merged.

[2018-03-09 15:53] #286 closed

[2018-03-09 21:11] adietish commented on #314
@Obirah sounds great! To contribute, please create a fork and file a pull request, both on github.
Let me see where to start with the code and give you some pointers.

[2018-03-09 21:14] adietish commented on #314
@jcantrill can you please also chime in for hints and pointers for @Obirah?

[2018-03-09 21:41] adietish commented on #314
@Obirah
The 1st step and most simple step is to create a Namespace class (that extends KuberneteResource) that implements a INamespace interface, like you can see IProject/Project currently does.
Then I'd create accessors for the data that you want to retrieve and manipulate. The json that you get when retrieving a namespace via the oc cmd-line shows you what's available
[code]

[2018-03-12 15:01] Obirah commented on #314
Hi @adietish,

thank you for your instructions. I just implemented all the basic stuff and opened up a pull request: https://github.com/openshift/openshift-restclient-java/pull/322

Can you please let me know if that's alright or if anything's missing?

I decided to add the "requester" field to the Namespace implementation as well, because it is a useful information for applications like OpenShift

[2018-03-13 15:04] phmaes opened #323 "New ResourceKind: Node"
Hello guys,

is there any reason to the fact that the resource Node isn't represented in the model (INode)?
Or maybe this resource is part of another one? If yes, which one?

Thanks for the job.

Regards,

Philip

[2018-03-13 15:43] jcantrill commented on #323
Only the fact because resources were created based on what was required for use in the openshift eclipse plugin.  Pull requests are welcome.  We should really be generating the model classes but we aren't quite there yet.  Please consider opening a PR.  Alternatively you may be interested in trying the fabric8 client library

[2018-03-13 20:27] adietish commented on #314
@Obirah nice! thanks!

[2018-03-16 08:36] adietish commented on #314
#322 was merged into master, maven artifact was deployed to repository.jboss.org. Resolving.
@Obirah thanks a lot!

[2018-03-16 08:36] #314 closed

[2018-03-16 08:49] srueg opened #324 "MemoryUnit missing"
Only memory units with the `i` suffix are supported. OpenShift though also supports them without suffix i.e. `G` instead of `Gi`.

[2018-03-16 09:18] Obirah commented on #314
You're welcome! This was my first open-source contribution ever, I hope there's more to come! Thanks for letting me contribute.

[2018-03-16 14:04] jcantrill commented on #324
Pull requests are welcome

[2018-03-19 13:29] adietish commented on #324
@srueg good observation! Due to serioiusly limited resources it's pretty hard for us to work on this enhancement. We'd therefore love to contributions. Would you be willing to if we assist you?

[2018-03-20 07:42] srueg commented on #324
Yeah, I'll see if I can make time for it. The hardest part would probably be the conversion in [PersistentVolume.java:222](https://github.com/openshift/openshift-restclient-java/blob/master/src/main/java/com/openshift/internal/restclient/model/volume/PersistentVolume.java#L222)?

[2018-04-03 15:04] Tanemahuta opened #326 "Allow easy extension of missing domain objects."
When encountering missing domain objects, we always need to create a pull request and wait for a release. We would appreciate, if we could extend the domain objects and mappings ourself.
This could be done via a registry, for example.

[2018-04-16 13:03] vladfau opened #328 "Is it possible to access Openshift instance behind proxy?"
Hello,

I'm trying to warp this client into Maven plugin for use in our organization, which has set of Openshift clusters, located behind the proxy.

When, I'm try to access it, I'm getting:

     Caused by: java.net.ConnectException: Failed to connect to <fqdn>/<ip>
     at okhttp3.internal.io.RealConnection.connectSocket (RealConnection.java:187)
     at okhttp3.internal.io.RealConnection.buildC

[2018-04-16 13:45] vladfau commented on #328
This is the code:

        IClient client = new ClientBuilder(openshiftEndpoint).build();
        client.getAuthorizationContext().setToken(openshiftToken);
        client.list(ResourceKind.PROJECT).forEach(x -> getLog().info(x.toString()));

Also, I tried the following thing:

        IClient client = new ClientBuilder(openshiftEndpoint).build();
        client.getAuthorizationContext().setToken(

[2018-04-17 12:34] adietish commented on #324
@srueg finally found some time to look at your suggestion and yes I'd agree with your analysis. Maybe @josefkarasek can comment on this since he wrote this.

[2018-04-18 12:43] vladfau commented on #328
Seems like it's not, so I implemented it on my own: https://github.com/openshift/openshift-restclient-java/compare/master...vladfau:feature/better-okhttp-proxy-support

[2018-04-20 13:15] adietish commented on #328
great, stuff! I created a pull request for your changes at https://github.com/openshift/openshift-restclient-java/pull/329/files

[2018-04-20 13:25] adietish commented on #328
@vladfau Is there any chance that you'd have some unit test for this? I checked and we unfortunately dont have anything for the build yet. It should be pretty simple though, I'd mock the okhttp-builder and verify that the setters for the proxy arguments are set if (and only if) the clientBuilder has such settings.

[2018-04-23 09:16] vladfau commented on #328
@adietish I will try to do it this week, will push to PR branch

[2018-04-25 13:38] vladfau commented on #328
@adietish @jcantrill submitted tests in PR, please take a look and let me know if it's ok

[2018-04-25 14:38] vladfau opened #331 "How to properly grab logs"
Hi folks,

I have a problem in getting pod logs (from build containers) in high-latency or unreliable environment.

First of all, I looked at integration tests examples and worked on creating `IPodLogRetrievalAsync` implementation, that follows particular container. This works good, but when build takes more than 5 minutes I get `Connection reset` exception in my `IPodLogListener` implementation a

[2018-04-26 07:56] vladfau commented on #331
Most of the things can be done w/o binary. Actually, my refinement work is to get rid of binary usage, so I do not have to store it anywhere

[2018-05-07 13:11] adietish commented on #328
the PR at https://github.com/openshift/openshift-restclient-java/pull/329/files was merged. In this sense this feature request was fullfilled. Resolving it.
@vladfau thanks a lot, kudos!

[2018-05-07 13:11] #328 closed

[2018-05-31 18:34] vgribok commented on #259
It's disappointing this issue is still open more than a year after being reported. Binary source is a valuable feature.

[2018-06-06 07:08] Tanemahuta opened #336 "Question: I've your project building on gradle"
Would you like a PR which builds the project with gradle?

[2018-06-11 12:20] adietish commented on #336
I tend to agree with @jeffmaury since our resources are very very limited. I guess that having this in a separate project, that we link to here might help attract other parties?

[2018-06-18 13:54] Tanemahuta commented on #336
Guys, why not using TravisCI free services? - This project is Open-Source, right?

[2018-06-18 14:01] jcantrill commented on #336
@adietish We could use Travis for CI instead of the jobs defined by the Openshift team but we would lose (I think?) the /merge and /test command features.  I don't know how important that is.  Travis would never allow us to stand up the integration tests but I defer to you your preferences.

[2018-06-19 08:16] Tanemahuta commented on #336
I can tell you, that we have used wiremock successfully to easily setup a record-/playback based integration-test pattern. Also, travis ci supports docker, thus if you could provide a minimal kubernetes/openshift master image to boot, you could even issue the e2e-tests you are currently invoking. Just a suggestion.

[2018-06-21 09:42] adietish commented on #336
Travis sounds fine, like it, actually. But then, one needs to maintain it, too. And that's where we lack resources. I dont really mind loosing the commands tbh.
So in that sense I'd perfer to have this available additionally ex. in a different repo and we'd then link to it in a prominent place here. Sounds reasonable?

[2018-06-22 11:41] adietish commented on #336
@jcantrill a file maybe, yes, but the whole build, wherever it's located or configured, needs to be watched, reacted upon, adapted, etc. And that's the point I fear since we already dont get along with all the works that to be done. Wrong?

[2018-06-22 14:19] jcantrill commented on #336
@adietish I'm not sure I follow your concerns.  It looks like we already have travis [1] so the advantage now of the Openshift build CI is moot IMO.  It provides no added value since:

* it doesnt run integration tests
* this repo does not rely on any generated api classes.
* we dont need to rely on any automated merge functionality
* we dont rely on any automated publish functionality

Currently,

[2018-06-22 14:23] adietish commented on #336
@jcantrill i didnt look deeper into this, but assuming you're right, my concerns are adressed, I won't oppose the move.
And then adressing ITs and gradle,  I dont see this happening soon either, because of the concerns mentioned above.

[2018-07-04 09:04] tobru commented on #324
Is there any update on this issue? If there is no progress, we try to find time to come up with a PR.

[2018-07-19 19:21] neon-paradise opened #338 "Remove DeploymentConfig"
Hello
When I used the OpenShift version 3.6, I deleted the DeploymentConfig and this resulted in the sequential deletion of the DeploymentConfig, the ReplicationController and the all its pods.
When I switched to OpenShift version 3.7,  I delete the DeploymentConfig and this result to deletion of only DeploymentConfig itself.
Tell me, please, how to remove all 3 entities in the version 3.7 of Open

[2018-07-19 20:15] jcantrill commented on #338
@deads2k This is based on somepolicy associated with the DC is it not?

[2018-07-19 20:18] deads2k commented on #338
Precisely which API?  `/oapi/v1` or `/apis/apps.openshift.io/v1`.  I think in 3.6 we enabled GC by default, but *only* for `/apis/apps.openshift.io/v1`.  If you were previously sending a GC directive and accidentally forgot it when you moved forward or if you accidentally switched the API you were using, you could get this result.

[2018-07-20 07:04] neon-paradise commented on #338
I'm using openshift-restclient-java library version 5.9.1.
I saw that in version 3.7 there were new api.
How do I understand which of the two api is used in the library? In the code I found only /oapi/v1.
How can I switch to using /apis/apps.openshift.io/v1?
Thank you

[2018-07-20 08:43] neon-paradise commented on #338
I need to use the latest version Openshift or openshift-restclient-java library?

[2018-07-20 08:53] jeffmaury commented on #338
The latest version of the library

[2018-07-31 13:49] adietish commented on #338
@neon-paradise was your issue resolved by using the latest client library? Can we close this issue?

[2018-07-31 13:53] adietish opened #339 "Binary Port Forwarding is using "-p" which is deprecated as for oc 3.11"
OpenShiftBinaryPortForwarding is using "-p" to provide the pod name when port-forwarding.
[code]
This option was deprecated as for oc 3.11:
[code]
We should change our code to provide the pod name in the updated fashion (without '-p')

for further details see https://issues.jboss.org/browse/JBIDE-26251

[2018-07-31 14:08] adietish commented on #339
for further details see https://issues.jboss.org/browse/JBIDE-26251

[2018-07-31 14:08] adietish commented on #339
[test]

[2018-07-31 15:32] adietish commented on #339
resolved by the fix in #340

[2018-07-31 15:32] #339 closed

[2018-08-01 18:16] laszlokiraly opened #341 "Can't edit namespace annotation of project"
The Editing namespace with oc client:
[code]
results in following request:
[code]

The only way i found to mimic the oc client patch call looks like this:
[code]

Sadly this fails with `Response{protocol=http/1.1, code=415, message=Unsupported Media Type, url=...}` because the content type header is set wrong by the java restclient: `Content-Type: application/json; charset=utf-8`

So basically the

[2018-08-01 18:37] jcantrill commented on #341
Why not overwrite the namespace annotation of a Project directly using [1] and post it back to the server.  You have access to the full json blob so there is nothing preventing you from an update unless there is some validation by the server that stops you.  This client is not meant to be a full replacement to the offerings of the oc binary

[1] https://github.com/openshift/openshift-restclient-ja

[2018-08-02 12:43] jcantrill commented on #341
@laszlokiraly This client is capable of using kinds for which there is no concreate model via one of the base implementations of IResource. Projects are a special beast in that they allow for limited changes but you might working with a `namespace` directly; they are more lax.  Consider either using a raw resource from one of the base implementations of IResource or creating a PR to impl the names

[2018-08-02 13:37] laszlokiraly commented on #341
@jcantrill i tried updating `namespace` as a resource and that also failed. That was also the reason why i looked into oc-cli-client.
So i reckon, there is no way to update the annnotation of a namespace of a project with the openshift-restclient-java as of now.

Regarding namespace kind:
I have no idea what you mean with implementing the namespace kind.
I will need specific instructions for imple

[2018-08-02 13:48] jcantrill commented on #341
@laszlokiraly  ref https://github.com/openshift/openshift-restclient-java/blob/master/src/main/java/com/openshift/internal/restclient/api/models/Endpoints.java

which is

`curl -k https://localhost:8443/api/v1`

or
`oc explain namespace`

I expect it will more or less be a copy of project

[2018-08-08 08:47] JohannesRudolph commented on #241
Hi, I've been hitting a similar error with

[code]
and was able to debug it. When authenticated with the same token, `oc get users` will contact `GET https://127.0.0.1:8443/apis/user.openshift.io/v1/users?limit=500`.

However, the openshift-restclient-java library will elect to call the `oapi/v1/users` endpoint instead.
From what I gather from the[ release notes of v3.7](https://docs.openshift.com

[2018-08-08 21:42] jcantrill commented on #241
@adietish Openshift is only required to support N-2.  Given 3.10 is out we should consider migrating the `oapi` types to their new endpoints.  It may resolve the issue here.

[2018-08-09 11:59] vers85 opened #343 "Exception while initializing the client"
Hi all,

I am using version 6.1.1.Final and noticed that every time i start the application, the following exception is being thrown. The app is working fine, but the logs are polluted with this. I used to work on version 5 and this was not thrown for sure. I cannot change the permissions on openshift itself to allow anonymous access to this endpoint.

Exception in thread "OkHttp Dispatcher" com.o

[2018-08-13 14:21] JohannesRudolph opened #344 "Support user.openshift.io/Identity API"
The `Identity` and `UserIdentityMapping` API are currently not supported by openshift-restclient-java. It would be great if we can add them to increase the API coverage.

See: https://docs.okd.io/latest/rest_api/apis-user.openshift.io/v1.Identity.html

[2018-08-14 01:53] jcantrill commented on #344
Pull requests are always welcome

On Mon, Aug 13, 2018 at 10:21 AM Johannes Rudolph <notifications@github.com>
wrote:

--
--
Jeff Cantrill
Senior Software Engineer, Red Hat Engineering
OpenShift Logging
Red Hat, Inc.
*Office*: 703-748-4420 | 866-546-8970 ext. 8162420
jcantril@redhat.com
http://www.redhat.com

[2018-08-27 09:01] adietish commented on #344
@JohannesRudolph unfortunately our resources are very limited. So we're mainly limited to effectively work on what we need for our OpenShift tooling for Eclipse. In other words: we'd be very happy to get your contribution for this feature since we're most likely not able to provide it on a timely fashion. But we'd of course happily guide and support you if you want to provide code. Is this somethi

[2018-09-03 15:07] laszlokiraly commented on #341
My Openshift Instance does not allow update whole Namespace but only allows me to patch the Namespace, so I came up with following workaround:
[code]

[2018-09-04 14:59] adietish opened #345 "DefaultClient#getServerReadyStatus should check at /healthz"
DefaultClient#getServerReadyStatus requests the health status at <server>/heathz/ready. As for 3.10 origin responds with **404 NOT FOUND** (see https://issues.jboss.org/browse/JBIDE-26333 for more details).
According to https://docs.openshift.com/container-platform/3.9/day_two_guide/environment_health_checks.html <server>/heathz fullfills the intended aim.
The question that needs investigation is

[2018-09-04 15:00] adietish commented on #345
@jcantrill dare to comment please?

[2018-09-04 15:33] adietish commented on #345
/healthz seems available in origin 1.5 already. See the readyness check script at https://github.com/openshift/origin/pull/12143#issuecomment-271700626 which checks at /healthz

[2018-09-05 13:02] adietish commented on #345
fixed in https://github.com/openshift/openshift-restclient-java/pull/346

[2018-09-05 13:02] #345 closed

[2018-09-13 14:28] Ladicek opened #348 "still depends on okhttp-ws"
The WebSocket support in this library relies on `okhttp-ws`. That API was unstable and has since disappeared. Since version 3.5, OkHttp no longer ships the `okhttp-ws` artifact. They merged the WebSocket support into the main `okhttp` artifact and stabilized the API. That stabilization, however, is incompatible. See https://medium.com/square-corner-blog/web-sockets-now-shipping-in-okhttp-3-5-463a9

[2018-09-17 10:28] Ladicek commented on #348
No objections from me :-)

[2018-10-03 12:49] adietish commented on #348
@Ladicek we published a new version 7.0.0-SNAPSHOT that's using okhttp 3.11 here: https://repository.jboss.org/nexus/service/local/repositories/snapshots/content/com/openshift/openshift-restclient-java/7.0.0-SNAPSHOT/openshift-restclient-java-7.0.0-20181003.123213-1.jar

Feel free to test it if it works for you. We'd appreciate feedback :)

[2018-10-03 13:07] Ladicek commented on #348
I'm currently swamped with other Thorntail work, but I'll try to get to this in a week or two. Thank you very much, though!

[2018-10-08 09:34] adietish commented on #344
/test all

[2018-10-10 12:57] adietish commented on #348
closing this issue, this was implemented for 7.0.0-SNAPSHOT. We're using in JBoss Tools.
Feel free to open an new issue if things don't work for you as expected.

[2018-10-10 12:57] #348 closed

[2018-10-10 21:53] #344 closed

[2018-10-10 21:56] adietish commented on #338
api-groups are supported since a few release. Closing.

[2018-10-10 21:56] #338 closed

[2018-10-22 10:50] Stealth-ip commented on #235
Any progress with this feature?

[2018-10-22 18:45] Stealth-ip commented on #235
@jcantrill PR was added. please review

[2018-10-22 21:14] #235 closed

[2018-11-15 10:40] aouertani opened #353 "Question about processing and applying template"
Hi all,

We're writing a tool to interact with our Openshift platform in order to create:
- buildConfig
- creating objects  using template
- updating objects
- ....

One of the needs is to implement the following scenario:

1. oc process -f template.json | oc apply -f  (create objects)
2. oc process -f template.json | oc apply -f - (update the same objects after changing the template)

The oc proc

[2018-11-15 19:00] jcantrill commented on #353
This library is not intended as a straight port of the oc binary.  It primarily is used to support eclipse Openshift integration.  If you wish to submit a pull requests, they are always welcome

[2018-11-16 09:29] aouertani commented on #353
Thanks Jeff for your answer.

But I'm still looking for an answer to the second part of my question. Which is the patch rest call:
[code]

Is this secure way to update the existing objects via the rest (to replace the oc apply)?

Cheers,
Ahmed.

[2018-11-16 16:34] jcantrill commented on #353
I'm not sure I follow your question.  When you say REST do you actually mean the REST api or this library?  It looks as though you have already identified how to properly patch using the REST api.  By 'secure' do you mean ensuring you don't clobber an existing attribute, or reconciling your desired changes with the latest?

[2018-11-20 10:52] stoney95 opened #354 "List running jobs not working (ResourceKind.JOB missing)"
Hi,

I'm trying to delete deployed resources. Therefore i want to list all resources that have a label `deploymentUID` with the same value e.g. `1`. This `list`-method asks me to define a `ResourceKind`(e.g. `BUILD_CONFIG`).  My problem is that there is also a job running that i want to delete, but there is no ResourceKind JOB defined so it's not possible to list the job.

Maybe I've overseen some

[2018-11-21 09:11] noelo opened #355 "Expose HTTP client"
It'd be great if the HTTP client could be accessible so that additional api operations can be invoked.
Examples include patching a namespace to add multicast functionality, creating custom SCCs etc.

[2018-11-21 09:19] stoney95 commented on #355
+1

[2018-11-21 17:34] jcantrill commented on #355
There are a number of methods from the base client [1] which allow you to make REST calls without needing to access the raw HTTP client.  Additionally, you can adapt the client if the former doesn't allow you to make the calls needed.

[1] https://github.com/openshift/openshift-restclient-java/blob/master/src/main/java/com/openshift/restclient/IClient.java
[2]  https://github.com/openshift/openshi

[2018-11-21 17:34] #355 closed

[2018-11-23 13:14] adietish commented on #343
Assuming that your openshift cluster didn't change I'm not all sure about the reasons or workarounds for this.
@jcantrill dare to comment please?

[2018-11-23 13:19] adietish commented on #341
@laszlokiraly sorry for the long delay. Oh yes, nice catch! If you're still able to PR this, we'd be more than happy.

[2018-11-25 04:04] jcantrill commented on #343
This would be the same as a raw curl of the version endpoint, but I don't know without further investigation.  Maybe the endpoint no longer exists, but I have not tried recently.

[2018-12-05 08:47] adietish commented on #354
@stoney95 you're right, unfortunately there are quite some resources that we dont support (yet). We're very limited in terms of coding power. Is there any chance that you'd contribute this with some help?

[2018-12-07 15:44] adietish opened #357 "does not run with java 11"
given that java 10 went EOF we should now make sure openshift-restclient-java runs with java 11.
Currently the following exception occurs:
[code]

[2018-12-07 16:13] jeffmaury commented on #357
Yes the xml.ws has been removed from Java11, need to add as a dependency

[2018-12-07 20:23] adietish commented on #357
@jeffmaury alternatively (and I think even better) is to use java.util.Base64 which was introduced in java8, which we require anyhow.

[2018-12-07 20:34] adietish commented on #357
@jeffmaury please review #358

[2018-12-10 02:23] alfonzjanfrithz opened #359 "Payload Nullified when the request type is 'DELETE'"
I notice that when deleting OpenShift Jobs from OpenShift web console it called:

| Name  | Value |
| ------------- | ------------- |
| URL  | https://$ENDPOINT/apis/batch/v1/namespaces/$NAMESPACE/jobs  |
| RequestMethod  | DELETE |
| Payload| {"kind":"DeleteOptions","apiVersion":"v1","propagationPolicy":"Foreground"} |

There is an inconsistency in the restclient API where it nullify any request

[2018-12-10 10:33] adietish commented on #359
@jcantrill dare to comment, please?

[2018-12-10 19:40] jcantrill commented on #359
Looks like we simply need a PR to correct line 320 and tests to verify.  If  DELETE call to kubernetes with a payload is a valid user call then we should support it.

[2018-12-13 13:35] adietish commented on #357
openshift-restclient-java now runs flawlessly with java 11. Closing.

[2018-12-13 13:35] #357 closed

[2019-02-06 08:30] adietish commented on #359
@alfonzjanfrithz works for me, I'll drop a PR. Sorry that it took quite a bit to address this.

[2019-02-06 09:45] adietish commented on #359
@alfonzjanfrithz we can allow a payload for **DELETE** but not for **GET** nor **HEAD** given that the http client library that we use won't allow it. See here: https://github.com/square/okhttp/blob/master/okhttp/src/main/java/okhttp3/internal/http/HttpMethod.java#L36
[code]

[2019-02-06 14:13] adietish opened #360 "Allow to query the readyness of a pod"
As discussed in https://github.com/jbosstools/jbosstools-openshift/pull/1805#issuecomment-455120017 currently only the 1st container is taken into account.

[2019-02-06 18:55] #359 closed

[2019-02-11 22:40] adietish opened #363 "DefaultClient#delete(IResource) causes endpoint to "500 Internal Server Error""
When calling ```DefaultClient#delete(IResource)``` with a pod resource (or any other resource) results in using "500 internal server error":
```500 no kind "Pod" is registered for version "v1" in scheme "k8s.io/apimachinery/pkg/apis/meta/internalversion/register.go:31"```

This bug was introduced with the change for the following openshift-restclient-java issue: https://github.com/openshift/opensh

[2019-02-11 22:43] adietish commented on #363
@jcantrill I suspect a bug in the REST endpoint, nevertheless we should disallow payloads to be sent when deleting to prevent this bug from happening in openshift-restclient-java.

[2019-02-12 03:32] danielallen88 commented on #359
@adietish Any idea when this fix will be release? Thanks.

[2019-02-12 22:58] adietish commented on #363
@jcantrill thoughts on the fact that this might be a bug in the REST endpoint?

[2019-02-13 10:50] adietish commented on #360
prior to this, #363 should be merged since the latter is critical for fixing a bug that prevents us from deleting resources in openshift.

[2019-02-13 12:03] #363 closed

[2019-02-13 15:44] adietish opened #365 "fix integration tests"
currently quite a few integration tests are failing. We have to fix them and keep them running continuously.

[2019-02-13 15:47] adietish opened #366 "[integration-tests] fix ScaleCapabilityIntegrationTest#testScalingDeploymentConfig"
this is a subtask for #365

[2019-02-13 15:50] adietish opened #367 "[integration-tests] fix PodExecIntegrationTest"
this is a subtask to #365

[2019-02-13 15:53] adietish opened #368 "[integration-tests] fix AuthorizationKindsIntegrationTest"
this is a subtask to #365

[2019-02-13 16:05] adietish opened #369 "[integration-tests] fix OpenshiftBinaryPodLogRetrievalIntegrationTest"
this is a subtask #365

[2019-02-13 16:08] adietish opened #370 "[integration-tests] fix OpenshiftBinaryRSyncRetrievalIntegrationTest"
this is a subtask #365

[2019-02-13 16:10] adietish opened #371 "[integration-tests] fix PodLogRetrievalAsyncIntegrationTest"
this is a subtask to #365

[2019-02-25 22:23] adietish commented on #365
all subtasks are fixed by PR https://github.com/openshift/openshift-restclient-java/pull/372

[2019-02-28 11:11] #366 closed

[2019-02-28 11:12] #367 closed

[2019-02-28 11:12] #368 closed

[2019-02-28 11:13] #369 closed

[2019-02-28 11:13] #370 closed

[2019-02-28 11:13] #371 closed

[2019-02-28 11:14] adietish commented on #365
#372 was merged. Closing.

[2019-02-28 11:14] #365 closed

[2019-03-06 12:16] rbocanegra opened #373 "NotFoundException on thread "OkHttp Dispatcher""
Hi!
I have a basic code that creates a client and lists the pods like the following:

[code]
The point is that the code works fine, but on the console I get the following exception:
[code]
Inside `ResponseCodeInterceptor.intercept` the local response is `Response{protocol=http/1.1, code=404, message=Not Found, url=https://192.168.34.42:8443/version/openshift}`.

I am using minishift v1.32.0+009893

[2019-03-13 09:08] denisanfimov opened #374 "Allow configuration of ping interval for OkHttpClient via ClientBuilder"
The latest versions of OkHttpClient lib support the configuration of ping interval for websockets, but ClientBuilder API does not allow to specify ping interval.
By default ping interval = 0, which means that no ping is performed by default. As the result websocket connection gets teared down by server and all registered IWatchers have to be reconnected and as side effect they load (on com.openshi

[2019-03-14 14:43] #374 closed

[2019-03-15 10:57] Ladicek commented on #373
I'm seeing this problem as well. It turns out that in some environments (I'm seeing it on Minishft 1.32.0, using the CentOS image 1.15.0, running OKD 3.11.0), the `/version/openshift` endpoint does return a 404 response:

[code]

While in some other environments (regular OCP cluster), it returns the expected response:

[code]

As it seems the `kubernetesVersion` and `openShiftVersion` fields aren'

[2019-03-29 10:01] adietish commented on #373
@Ladicek awesome catch! thx

[2019-04-05 15:15] #373 closed

[2019-04-08 20:42] tonyherstell opened #378 "IPersistentVolume#getProject throws exception"
`List<IPersistentVolume> persistentVolumes = client.list(ResourceKind.PERSISTENT_VOLUME);
                     for (IPersistentVolume eachPersistentVolume : persistentVolumes) {
                           logger.info("++++++++++++++ Persistance Units ++++++++++++++");
                           logger.info("Name" + eachPersistentVolume.getName());
                           logger.info("Kind" + ea

[2019-04-23 11:28] adietish commented on #378
@jcantrill dare to comment, please?

[2019-04-23 12:00] jcantrill commented on #378
@tonyherstell Can you paste a stack trace of the issue?  I presume it's because a PV is a cluster resource and not namespaced.  @adietish maybe we should consider deprecating `getProject()` since it was a convenience method anyway and force use of namespace/project as a string.  If you want a project then maybe you just need to load it explicitly.

[2019-04-23 12:01] adietish commented on #378
@jcantrill thx for chiming in. And yes, I agree on deprecating to have a more consistent API.

[2019-05-03 12:00] adietish opened #379 "provide IPod#getContainerStatus"
allow a user programmer to query a pod for the status of the containers.

quoted @rbocanegra  from https://github.com/openshift/openshift-restclient-java/pull/362#discussion_r263725685:

[2019-05-03 12:15] adietish commented on #360
PR merged and new artifact openshift-restclient-java 7.1.1-SNAPSHOT deployed. Closing.

[2019-05-03 12:15] #360 closed

[2019-05-12 23:31] paravatha opened #382 "Question about scaling container"
Hi, I am trying to scale a container up and down as per the example in
https://github.com/openshift/openshift-restclient-java/blob/4db8375aac177abd94c4e301f0a91f63d2e1ba68/src/test/java/com/openshift/internal/restclient/api/capabilities/ScaleCapabilityIntegrationTest.java

My code snippet:

        IReplicationController replicationController = new ResourceFactory(client).create("v1", ResourceKind

[2019-05-13 15:32] jcantrill commented on #382
The answer is in your stack:

`com.openshift.restclient.NotFoundException: replicationcontrollers/scale.autoscaling "test" not found`  Do you have an rc with the given name?  `oc get rc -n $projectnamespace`

[2019-05-23 15:06] adietish opened #387 "make sure we run integration-tests continuously"
follows up on #365
we should run integration-tests continuously so that we get informed of API breakage upfront.

[2019-05-23 15:06] adietish commented on #387
cc: @jeffmaury

[2019-06-17 13:02] adietish commented on #359
@danielallen88 this was released in 7.0.1-SNAPSHOT, current stable 7.1.1.Final should contain it. Isn't it?

[2019-06-20 17:47] ridvan70 opened #388 "What is the ResourceKind for ClusterResourceQuotas ?"
Hi,

Is there ResourceKind for ClusterResourceQuotas or any other way (?) to get them as in

`oc get clusterquota`
or
`oc get clusterresourcequota`

Regards
Ridvan

[2019-06-20 17:50] ridvan70 commented on #388
OK, I got it:

`IClient.get("ClusterResourceQuota", "");`

[2019-06-20 17:50] #388 closed

[2019-06-23 16:14] ridvan70 opened #390 "How to close IClient explicitly?"
Hi,

can an instance of IClient be closed explicitly?

Regards
Ridvan

[2019-06-24 12:17] adietish commented on #390
Hi @ridvan70,

Given that it's a REST client, connections are short lived and limited to a single query and response. There's actually no need to explicitly disconnect the client. Am I missing something?

Cheers
André

[2019-06-24 12:44] ridvan70 commented on #390
Hi,

Building a client at ever request is very time consuming(+1 secs per request):

1. get a token with credentials
2. build client with token,

thus poor user experience in app (JSF). Reusing a client per session is the option.

BuiIding a Client with credentials does not retrieve a token, even after calling authorizationContext.isAuthed. That's why we always must build Client with token, which

[2019-06-26 06:33] lavanyajain opened #391 "getProject oc project <projectName> is there any way of performing this?"
I want to execute oc project <projectName> command using API is there any way of doing it?

[2019-06-27 07:31] adietish commented on #391
Hi @lavanyajain

There is no concept of a current project in this library. When you create a resource you can provide the project that it's supposed to be created in.
Does this answer your question?

Cheers
André

[2019-08-28 13:17] adietish commented on #390
@ridvan70 Hi Ridvan, sorry for the lengthy delay. Your answer went buried in my daily mails.

Yes, reusing the client instance per session is what we also do in Eclipse. And yes, authentication always uses a token, username & password are only means to get a token (as you can alternatively do via OAuth). I dont get though why you somehow loose the token? Or am I misunderstanding, missing something

[2019-08-28 16:17] ridvan70 commented on #390
Hi @adietish,

The issue is :
„BuiIding a Client with credentials does not retrieve a token“

Is this a feature or a bug?

Regards

[2019-08-28 22:59] adietish commented on #390
Hi @ridvan70

not sure if we understand the same thing by "building a client". In our code we "build" a client instance and then trigger the authentication.
Looking into our code I am quite astonished that calling ```IAuthorizationContext#isAuthorized``` would not retrieve and store the token.
In our code we do the following (pseudocode, copy/pasted from https://github.com/jbosstools/jbosstools-op

[2019-08-29 13:45] adietish opened #394 "okHttp is complaining about leaking connections, response was not closed"
in user programs that use the openshift-restclient-java one can see the following log entries:
[code]

[2019-08-29 14:48] adietish commented on #390
@ridvan70
I filed a PR to fix the leaking connections at #394

[2019-08-29 15:08] adietish commented on #394
the same problem was spotted and fixed for m2e/aether-connector: https://github.com/takari/aether-connector-okhttp/pull/12

[2019-08-29 16:49] adietish opened #396 "Travis is failing to build with oraclejdk8"
PR builds with travis currently consistently fail when building with oraclejdk8. See here: https://travis-ci.com/openshift/openshift-restclient-java/jobs/229300270

[code]

[2019-08-29 16:51] adietish commented on #396
this is failing for many projects: https://travis-ci.community/t/error-installing-oraclejdk8-expected-feature-release-number-in-range-of-9-to-14-but-got-8/3766/5

The suggestions are to use openjdk8 or specify the distro instead.

[2019-08-29 19:48] #396 closed

[2019-09-04 12:58] jeffmaury commented on #394
@adietish do you know how to reproduce it in JBossTools ?

[2019-09-04 13:35] adietish commented on #394
@jeffmaury I create an eap app on employee.openshift.com, have the source imported and the server adapter created. Then I hit "Publish" in the server ctx menu and wait for it to be finished. At some point the following shows up in the Eclipse log:
[code]

[2019-09-04 13:39] jeffmaury commented on #394
Yes found a way to reproduce. Then switch to the new lib but this is still hapenning

[2019-09-04 13:44] adietish commented on #394
@jeffmaury ok, looking into it. What is the case where you can reproduce it?

[2019-09-04 19:50] jeffmaury commented on #394
Connect to CDK, list projects, try to connect to 2 other unavailable clusters and wait

[2019-09-06 19:55] adietish commented on #394
@jeffmaury this also contains a bump to httpok 4.1.1 - there's no point in upgrading to the latest in the 3.x stream aka 3.12.4 since this one also requires kotlin-stdlib.
Please test again.

[2019-09-17 08:43] adietish commented on #394
@jeffmaury did you find the time to review this?

[2019-09-18 16:22] #394 closed

[2019-09-18 17:32] adietish opened #398 "unit tests are failing when run with java 11"
this started happening when #394 - which upgraded okHttp to 4 - was merged.

[2019-09-18 17:33] adietish commented on #398
travis output with java 11:
[code]

[2019-09-18 17:53] adietish commented on #398
fixed in #399

[2019-09-18 17:53] #398 closed

[2019-09-27 08:23] #391 closed

[2019-10-03 10:43] adietish opened #400 "Add capability to retrieve url for the web-console"
We currently have this logic in JBoss Tools. With the difference in OpenShift 4 (OpenShift 3 has the console on the same host as the REST endpoint. OpenShift 4 does not have this restriction, it has a config map pointing to it) we should now move this logic to the openshift-restclient-java.

[2019-10-04 21:28] #400 closed

[2019-10-11 14:03] adietish opened #403 "Cannot connect to OpenShift 4.2"
When trying to connect to an OpenShift 4.2 server endpoint discovery fails bcs /apis is only accessible to authenticated users. A 403 error is reported via the following exception:
[code]

[2019-10-11 14:59] #387 closed

[2019-10-14 19:22] adietish opened #405 "travis build fail for java 11"
PR check https://travis-ci.com/openshift/openshift-restclient-java/jobs/245488849 failed installing java 11:
[code]

[2019-10-15 06:11] #405 closed

[2019-10-15 15:34] #403 closed

[2019-10-16 08:52] adietish opened #407 "cannot run ITs against online OS4 variants"
[code]

[2019-10-16 12:23] #407 closed

[2019-10-16 14:24] adietish commented on #390
Hi @ridvan70

do you have further insights to share, please?

[2019-10-16 21:56] ridvan70 commented on #390
No further insights then I've supplied above on Jun 24, for this topic.

For the topic „BuiIding a Client with credentials does not retrieve a token“ it's better to open another issue, I think.

[2019-10-25 10:37] adietish opened #412 "DefaultClient creates requests as soon as it is instantiated"
DefaultClient currently creates connections to the server as soon as it is instantiated:

[code]
[code]
We should delay those to the point where actual requests to the server are performed

[2019-11-16 13:06] adietish commented on #390
Hi @ridvan70

quite a few changes to the client regarding authorization are on their way:
* #411
* #413
* #414

I'd think that the bug you experience (that I unfortunately still can't reproduce when it comes to OpenShift 3.x) might hopefully be fixed. Once those are merged (openshift-restclient-java 8.1.1-SNAPSHOT), dare to test again?

[2019-11-27 13:36] #412 closed

[2019-11-27 15:48] vachillo opened #415 "StackOverflowError while trying to execute request without OAUTH token"
Tried executing a request after providing just a username and password and got this. The stack trace is repeated a few hundred times. After providing an OAUTH token to the client builder it works fine.

`Caused by: java.lang.StackOverflowError: null
	at java.base/java.lang.AbstractStringBuilder.append(AbstractStringBuilder.java:538) ~[na:na]
	at java.base/java.lang.StringBuilder.append(StringBuild

[2019-12-10 08:56] Ask149 opened #416 "NO RSH Connectivity API present"
Hi, I am trying to access pod information, but I cannot find any API, that does exact work as OpenShift 'oc rsh' command in Java Client.

[2019-12-11 09:20] adietish commented on #416
Hi @Ask149
Indeed, we're missing this. It shouldn't be too difficult to provide this though by delegating this task to the oc binary. We have a class AbstractOpenShiftBinaryCapability that interfaces interaction with the oc command line binary. Currently there are implementations for "oc logs" in OpenShiftBinaryPodLogRetrieval, "oc port-forward" in OpenShiftBinaryPortForwarding and "oc rsync" in O

[2019-12-11 09:26] adietish commented on #415
Hi @vachillo
never seen this before even though we're using the client in tools with an oauth token. Maybe you want to give 8.1.1-SNAPSHOT a try which differs significantly from 8.1.0.Final exactly in this area. It might solve your problem.
If not, can you provide some example code that shows me how to replicate this serious flaw?

[2019-12-11 13:35] aperepecha opened #417 "Please add in readme or provide example how to handle the file copy between pod and local file system"
Could you please add in Readme or provide example how to handle the file copy between pod and local file system.
Is it even possible?

Thank you.

[2019-12-11 14:47] #417 closed

[2019-12-11 14:49] aperepecha commented on #417
Found an example in integration test:  src/test/java/com/openshift/internal/restclient/capability/resources/OpenShiftBinaryRSyncTest.java
Closing issue. Thanks

[2019-12-23 19:19] vachillo commented on #415
Thanks @adietish
I downloaded and installed `8.1.1-SNAPSHOT` and I'm getting the same recursive error. I'm using the ClientBuilder exactly how its written in the documentation.
I'm calling this client behind a corporate proxy, is there any other configuration i need to consider?

[2020-01-06 13:41] palfrey opened #418 "Upgrade log4j to 2.x to fix CVE-2019-17571"
https://nvd.nist.gov/vuln/detail/CVE-2019-17571 has turned up, and it effects all versions of log4j 1.2.x. As 1.2 got [EOL'ed 4 years ago](https://blogs.apache.org/foundation/entry/apache_logging_services_project_announces) this isn't exactly surprising that there's no fix for it. Upgrading to one of the 2.x versions should fix this issue.

[2020-01-08 13:00] adietish commented on #418
@palfrey thx for reporting!

[2020-01-08 13:12] adietish commented on #415
@vachillo if your client needs to pass through a proxy you'd have to configure it. The different options are visible in a test that we have: https://github.com/openshift/openshift-restclient-java/blob/master/src/test/java/com/openshift/internal/restclient/okhttp/ClientProxyConnectionTest.java#L42
Hope this helps.
Nevertheless, an NPE should not occurr and we should fix it. Could you paste the stac

[2020-01-13 17:10] #418 closed

[2020-01-14 12:09] jacksoncastro opened #420 "How delete all resources by label"
The `oc delete all -l <label>` operation deletes all objects matching the specified `<label>`, including the replication controller so that pods are not re-created, as described in the openshift [documentation](https://docs.openshift.com/container-platform/3.11/cli_reference/basic_cli_operations.html#delete).

How can I simulate this operation in the plugin?

E.g:

`$ oc delete all -l app=test`

[2020-01-14 12:21] jeffmaury opened #421 "Integration tests are broken"
Caused by wrong URL in the startOCP.sh script

[2020-01-15 14:23] jacksoncastro opened #423 "Error with user/password authentication in plugin version 8.1.0.Final"
By switching to plugin version **8.1.0.Final**, it is no longer possible to authenticate using username and password.

Note: In version **8.0.0.Final** the error does not appear.

Example code:

`IClient client = new ClientBuilder("https://openshift.example.com")
				.withUserName("jacksoncastro")
				.withPassword("mysecret")
				.build();`

The error follows:

`Exception in thread "main" java.la

[2020-01-15 16:25] adietish opened #424 "list resources on an unreachable server causes NPE"
in 8.1.1-SNAPSHOT, when one tries to list resources on a server that's not reachable, an NPE is thrown:
[code]

[2020-01-15 16:35] adietish commented on #423
@jacksoncastro Hi, thx for reporting. 8.1.1-SNAPSHOT should have this fixed. Can you try that version?

[2020-01-16 16:30] jacksoncastro commented on #423
Is this version published in any repository?

[2020-01-17 19:40] adietish commented on #423
sure, available in https://repository.jboss.org/com/openshift/openshift-restclient-java/8.1.1-SNAPSHOT/ and mirrors

[2020-01-20 19:11] jacksoncastro commented on #423
@adietish grateful for the return, but even testing with version `8.1.1-SNAPSHOT` the error remains.
Looking at the code you can see that the error happens because the `AuthenticatorInterceptor` is intercepting the login itself, causing the stack overflow.

[2020-01-22 16:19] adietish commented on #423
@jacksoncastro that's odd, current code should not intercept itself, look here: https://github.com/openshift/openshift-restclient-java/blob/master/src/main/java/com/openshift/internal/restclient/okhttp/AuthenticatorInterceptor.java#L86
Am I missing something or is there a special setup at play?

[2020-01-22 21:48] adietish commented on #424
fixed by #425

[2020-01-22 21:48] #424 closed

[2020-01-24 19:17] adietish commented on #423
@jacksoncastro I deployed a new version of 8.1.1-SNAPSHOT. Once we figure out if your error still exists and eventually fix it, I'll be able to push a final version.

[2020-01-27 12:29] mhagnumdw commented on #423
Hi @adietish !

I just tested it and the problem persists. Below some details:

### pom.xml
[code]
### Snapshot exact version
openshift-restclient-java-8.1.1-20200122.214411-10.jar

### Main test class
[code]
## Full stacktrace

<details><summary>For stacktrace click here</summary>
<p>

[code]

</p>
</details>

[2020-01-27 16:53] Obirah opened #426 "Missing ResourceKinds: SubjectAccessReview & SubjectAccessReviewResponse"
Currently the client is lacking the ResourceKinds "SubjectAccessReview" and "SubjectAccessReviewResponse". I would like to change that.

I will implement it, once my company has approved the contribution.

[2020-01-27 19:32] adietish commented on #423
@mhagnumdw thx for the test-class. Let me set up a cluster with username & pw, test it and proceed to fixing it.

[2020-01-28 13:02] adietish commented on #423
@mhagnumdw unfortunately I cannot reproduce this with my current setup.
What's the OpenShift version that you experience this with?

There must be a difference to what you use. Let me explain what I did:
1) started minishift 3.X
2) enabled the "htpasswd-identity-provider" so that I can have users with password (https://github.com/minishift/minishift/tree/master/addons/htpasswd-identity-provider#ap

[2020-01-28 13:45] adietish commented on #423
@mhagnumdw I see a possible workaround/fix: I can add a custom header when authorizing. The interceptor could then ignore all requests that hold this custom header and avoid the endless loop that we see above.
Nevertheless, I'd love to see your url for the authorization request, the url that seems to trigger authorization for authorization requests. Can you please report this?

[2020-01-28 13:48] ridvan70 commented on #390
Hi,

let's close this topic. I will open a new one about Auth, if still exists in 8.1.1.

[2020-01-28 13:52] ridvan70 opened #428 "Howto achieve add-cluster-role-to-user"
Hi,

Not an issue but an inquiry:

How to achive the following command with rest-client-java:

`oc adm policy add-cluster-role-to-user self-provisioner -z <accountname> -n cloudmgmt`

Regards
Ridvan

[2020-01-28 14:22] mhagnumdw commented on #423
Hi @adietish !

[code]

URL: https://ose.myname.com.br/api

![image](https://user-images.githubusercontent.com/17688846/73271956-4d063480-41c0-11ea-83ec-a4ed2000f1a0.png)

[2020-01-28 14:54] #421 closed

[2020-01-28 15:01] adietish commented on #423
@mhagnumdw thx!
Yes, noticed when reviewing the code that both are identical and thus removed the request parameter a few hours ago: https://github.com/openshift/openshift-restclient-java/pull/427/files
So the url that is requested when authorizing is not matching ```isAuthorizationEndpoint```, right? Any idea why? I'm struggling to see why the authorization request is being authorized again?

[2020-01-28 15:10] adietish commented on #423
@mhagnumdw here's a possible fix: https://github.com/openshift/openshift-restclient-java/pull/429/files
I'm unsure about it since I still dont fully understand the reason for your issue. Dare to test it, please?

[2020-01-28 16:43] mhagnumdw commented on #423
- `isAuthorizationEndpoint(request.url(), client.getAuthorizationEndpoint())`: it is returning `false`
- `request.url()`: https://ose.xxx.br/api
- `client.getAuthorizationEndpoint()`: https://ose.xxx.br:443/oauth/authorize

[2020-01-28 16:43] mhagnumdw commented on #423
I will do the test now. I'll be back in a little while.

[2020-01-28 17:09] mhagnumdw commented on #423
Hi @adietish !

This works fine!

Steps:
[code]

So running [my code in this post](https://github.com/openshift/openshift-restclient-java/issues/423#issuecomment-578725193-permalink) and it worked well.

[2020-01-28 19:33] adietish commented on #423
@mhagnumdw great news, let me have some more testing and I'll deploy to the maven repo for your consumption.

[2020-01-28 19:59] adietish commented on #423
Great insight, thx!
```/api``` is the endpoint where the OpenShift version is determined. I only see it being triggered when ```com.openshift.internal.restclient.capability.server.Console#getConsoleUrl()``` is called. Why this url is request while we're authenticating is beyond me. I'd bet on a server configuration.

[2020-01-28 20:00] adietish commented on #423
Nevertheless, the suggested fix looks very valid to me since it ensures in simple means that we're not authenticating an authentication request (endless loop reported above). I'll thus simply do some further testing and merge once I'm confident (unit-tests and integration-tests already pass).

[2020-01-29 12:48] mhagnumdw commented on #423
@adietish , tks!

[2020-01-29 12:50] mhagnumdw commented on #420
Hi!
Can anyone help here? :eye:
Tks!

[2020-01-30 09:46] adietish commented on #428
@ridvan70 Hi, we had to drop support for administrative operations. This because of the limited resources that we have at our disposal. On the other hand, if you'd be happy to work on such thing we'd be more than happy to assist and support you.

[2020-01-30 09:50] adietish commented on #426
Hi @Obirah
great news, very glad to heard this! feel free to ask for our support or to review what you provide. In a sidenote, there was a major overhaul of the resource factory that a user provided: https://github.com/openshift/openshift-restclient-java/pull/335. Unfortunately we never had the time/resources to fully review and integrate this. Maybe it's worth a look or two for your task?

[2020-01-30 09:53] Obirah commented on #426
Hi! The resource factory is also coming from my company. The guy who implemented it, was a colleague in my team but is in another team right now.

I would love to have the resource factory, right now we are using our own fork of the client that contains the factory.

What exactly would be the steps to do in order to integrate the factory? In #335 there was a discussion about naming of classes that

[2020-01-30 13:47] adietish opened #430 "BasicChallengeHandler#canHandle false negative when value contains "realm""
Current impl for BasicChallengeHandler#canHandle is returning false if the response header is using ```realm=```:
[code]

[2020-01-30 14:01] adietish commented on #430
thanks and kudos to @akram who found this

[2020-01-30 15:52] adietish commented on #426
@Obirah oh, ok, great if you're even willing to provide this into master. I believe that the suggested change would be a great addition to this client. As far as I can see we had a consensus on most complaints after all. I dont have strong opinions on naming and there isnt right or wrong. I'd suggest that we have the PR rebased and ideally well covered by unit tests. Works for you?

[2020-01-30 16:06] adietish commented on #426
@Obirah on a more conceptual level I have to point out that our resources in this client are very limited. The replacement being the https://github.com/fabric8io/kubernetes-client. This latter one unfortunately isn't API compatible. Is a switch at some point in the future possible for you guys?

[2020-01-30 16:09] adietish commented on #423
deployed artifact 8.1.1-SNAPSHOT to our maven repo at https://repository.jboss.org/nexus/service/local/repositories/snapshots/content/com/openshift/openshift-restclient-java/8.1.1-SNAPSHOT/openshift-restclient-java-8.1.1-20200130.155917-12.jar (should get picked by mirrors sometime soon)

[2020-01-30 16:09] #423 closed

[2020-01-31 10:20] #430 closed

[2020-02-07 10:05] adietish commented on #420
@jacksoncastro @mhagnumdw there's currently no direct support in the delete operation unfortunately. But you could list resources by labels
DefaultClient:
[code]
and then iterate over the list and delete the items:
[code]
Didn't try it but I'd expect this to work.

[2020-02-07 10:10] adietish commented on #415
This looks duplicate to #423 which was fixed in #420 #429. Closing as duplicate. @vachillo please feel free to reopen if you still experience the issue.

[2020-02-07 10:10] #415 closed

[2020-02-17 15:46] adietish opened #437 "Peers reported in RSync error are not useful"
When there's an error rsyncing local code <-> pod via the OpenShiftBinaryRSync local and remote peers are reported. Unfortunaltey those are reported as java object identifiers which isn't helpful:

(see **com.openshift.restclient.capability.resources.IRSyncable$PodPeer@39c74f5f** and **com.openshift.restclient.capability.resources.IRSyncable$LocalPeer@7e5469d8**)
[code]

[2020-02-17 17:29] #437 closed

[2020-04-08 08:13] gaurav-dhoot opened #439 "getToken() and getAuthScheme() return null and isAuthorized() returns exception."
I have minishift setup in my laptop. I wanted to write a piece of code where the user can only continue if he is authorized on minishift. To my surprise, I get an exception when I try this. Also, I tried to retrieve the token and authScheme which are again null. I do get the userName and Password when I give appropriate methods.

Here is the piece of code I used:
IClient client=new ClientBuilder("

[2020-04-08 08:18] gaurav-dhoot opened #440 "Create custom resource"
I have some custom resource to setup in the cluster. I have gone through the code and it looks like there isn't a possibility to create these resources as of yet. I may have overlooked the code and would appreciate any help in respect to this.

[2020-04-08 11:54] ridvan70 commented on #428
Hi,

As of working on such thing. How does the process work?

I would commit my solutions. We can begin with my solution/workaround to the subject.

I've achived this by creating a `RoleBinding ` and using a template:

[code]

[code]
ClusterRoleBinding.json
[code]

[2020-04-08 12:06] ridvan70 opened #441 "Get ServiceAccount Token ala oc sa get-token"
Hi,

How can a service account token be retrieved by the rest-client?

The tokens retrieved by `oc `and the `rest-client` are different. I've analyzed the `oc sa get-token ... --loglevel=10` and did the same calls (get ServiceAccount, get Secret) to OCP with `rest-client` but the token which is returned by `oc` can not be seen in the response payload of the rest-client call for the `SECRET`.

Is t

[2020-04-09 13:22] adietish commented on #440
Hi @gaurav-dhoot

you're unfortunately right. We currently dont support custom resources in this library. Unfortunately our resources in this project are very limited and we're not able to bring new features to this library beside doing the maintenance that we need for the Eclipse tooling that's using this library in.
We would love your contributions though and can also assist you in this quest. T

[2020-04-09 13:34] adietish commented on #439
Hi @gaurav-dhoot

I'm not able to see what step within your pasted code triggers the exception. Can you please reports what's in Connect at line 29?
I also see that your linenumbers dont match what I see in our master. It looks as if you're not using the latest version (8.1.1.Final or 8.1.2-SNAPSHOT) of the library?

Cheers
André

[2020-04-09 13:47] gaurav-dhoot commented on #439
Hi @adietish,

Connect is the name of my class :-). System.out.println(client.getAuthorizationContext().isAuthorized()); causes an exception. All the other methods return a null value.
Looks like I am using a very outdated version of you project. I am using the 5.9.6 version, that could definitely cause the problem. Anyway, I will try it again with the updated project this time and check if it sti

[2020-04-09 14:01] adietish commented on #428
Hi @ridvan70,

What you have looks like a great starting point. To be very honest it's a very long time I worked on this area so I'm refreshing my memories with you here. What I see in a quick digging is that known resource types are registered via the properties file in ```src/main/resources/k8stypes.properties```. The association Class->kubernetes schema type is then used to report the class tha

[2020-04-09 14:07] adietish commented on #441
Hi @ridvan70

I'm unfortunately completely unaware of this. @jeffmaury, @jcantrill Do you have any idea about this?
Alternatively I'd ask in the openshift dev forums/chats about the mechanics required to achieve what you're looking for. Once we know what's needed we could go ahead and implement this in the library.
Can you please point me to the places in oc that you looked into and what request y

[2020-04-09 15:30] gaurav-dhoot commented on #439
Hi @adietish,

I have tried using the 8.1.1.FINAL version of the library. Again, the response to the getToken() is null and when I try isAuthorized(), it throws an exception, however a different one this time.

Below is the code and the console output of the same.
public class testing {

	public static void main(String[] args) {
		IClient client=new ClientBuilder("https://192.168.99.105:8443/").wi

[2020-04-09 17:11] jeffmaury commented on #441
Yes from the secret that is retrieved, the `token` field is used and base64 decoded

[2020-04-11 20:37] #382 closed

[2020-04-14 10:21] adietish commented on #439
Hi @gaurav-dhoot

thx for reporting all these details, I'll try to reproduce your issue.
The 1st thing that I stumble upon is that you get a ```ResourceForbiddenException```. There are 2 possible explanations: Either your credentials are bad or we have a problem in the client where an url is requested without credentials where those are required.

[2020-04-14 10:28] gaurav-dhoot commented on #439
Hi @adietish,

Thanks for the acknowledgement. To rule out the bad credentials, I am running a minishift cluster and so, it should not actually deny authentication whatever the password be. Also, I have tried using another username with all the privileges but still get the same exception. So looks like there has to be a problem with the URL. Anyway, you could tell me some more steps (if needed) to

[2020-04-14 12:25] adietish commented on #439
Hi @guarav-dhoot

I can reproduce the issue using a minishift that I run locally. So I'll dig into it, trying to understand what's happening.
Another thing I noticed is that the following is wrong:
```.withUserName("system:admin").withPassword("sfsf")```
it should be:
```.withUserName("system").withPassword("admin")```
Nevertheless, when correcting this, I still get an exception which obviously is

[2020-04-14 12:30] gaurav-dhoot commented on #439
Hi @adietish,

Guess that is right. Maybe I have sent you a copy of one of my trials. But as we can see, this looks to be an internal issue.

[2020-04-14 12:53] adietish commented on #439
Hi @gaurav-dhoot

turns out that the request to discover the auth endpoint already fails with 403/Forbidden for me (```AuthorizationEndpoints.getAuthorizationEndpoint()```). Worth to be noted is that this url is supposed to be unprotected and that the request is thus done without username/password. I'm digging further keeping you posted.

[2020-04-14 13:57] adietish commented on #439
Hi @gaurav-dhoot
I have found a solution where I don't get the exception any more. I simply get a use the default authorization endpoint if discovering fails as explained above. I created PR 439 with the potential fix. Maybe you want to try it?
Retrieving the token before asking about being authorized (#isAuthorized) still reports null because only #isAuthorization triggers the authentication. Thi

[2020-04-14 16:57] #439 closed

[2020-04-14 17:03] adietish commented on #439
hi @gaurav-dhoot

i merged the changed to current master and deployed 8.1.2-SNAPSHOT to our maven repository at https://repository.jboss.org/. You should be able to consume it by bumping your dependency 8.1.2-SNAPSHOT. It should fix your issue.
Please reopen this issue if you can't confirm this or ack here if it does. Thanks!

[2020-04-14 19:23] adietish commented on #439
We published 8.1.2.Final which includes the above fix.

[2020-04-14 20:39] tszielin opened #444 "EnvironmentVariable invalid keys in method public IEnvVarSource getValueFrom"
In the class `com.openshift.internal.restclient.model.EnvironmentVariable` the method `public IEnvVarSource getValueFrom()` always return null.

Probably the problem is cause by first condition which checks `getNode().hasDefined("fieldRef")`. The result of `getNode().keys()` is **["name', "valueFrom"]** instead of **"valueFrom"** . Changed method parameters like `getNode().hasDefined("valueFrom",

[2020-04-15 12:26] adietish commented on #444
Hi @tszielin

thx for reporting, I'd need a concrete example to reproduce this though. Your concerns about the code seem valid but to be very sure things work as expected I'd love to have some steps that I can follow. Can you please provide these?

[2020-04-15 12:58] adietish commented on #444
Hi @tszielin

I found a json that could allow me to test what you found:
[code]
Is this matching what you're using when you found the issue?

[2020-04-15 13:40] adietish commented on #444
I could replicate your issue. Here's a PR that should fix it: https://github.com/openshift/openshift-restclient-java/pull/445
Could you please test it and report back?

[2020-04-15 13:45] #444 closed

[2020-04-15 14:21] adietish commented on #444
@tszielin the fix is available in openshift-restclient-java 9.0.0.Final that I just published

[2020-04-15 15:35] adietish commented on #390
@ridvan70 ok, thanks. Closing.

[2020-04-15 15:35] #390 closed

[2020-04-15 15:41] adietish commented on #343
issue #412 noticed that the ```DefaultClient``` was eagerly requesting kube- and openshift version upon instantiation. This was fixed in PR #413 and thus shouldnt happen any more. Closing.

[2020-04-15 15:41] #343 closed

[2020-04-15 19:20] tszielin commented on #444
Hi @adietish
Please take a look to code
`import static com.openshift.internal.util.JBossDmrExtentions.asString;

import java.util.List;
import java.util.Optional;
import org.apache.commons.lang.StringUtils;
import org.jboss.dmr.ModelNode;

import com.openshift.internal.restclient.model.EnvironmentVariable;
import com.openshift.restclient.ClientBuilder;
import com.openshift.restclient.IClient;
impo

[2020-04-16 09:47] adietish commented on #444
Hi @tszielin

The code that you pasted above seems to used outdated code that existed before I merged #445:
[code]

The new code looks as follows:
[code]

With the corrected code ```EnvironmentVariable``` should work as expected. Doesn't it for you?

[2020-04-16 17:46] tszielin commented on #444
Perfect.

[2020-05-06 13:23] Ladicek opened #448 "missing tag for 9.0.0.Final"
Hi, just an FYI, I see the 9.0.0.Final version has been released, but this repository doesn't have a tag for it. I think the current `master` branch points to the 9.0.0.Final commit, but having a tag would be nice. Thanks :-)

[2020-05-07 17:58] #324 closed

[2020-05-08 10:07] tszielin opened #449 "openshift-restclient-java for OpenShift v4.x"
I would like to ask if is any plan to update this library also for OpenShift v4?

[2020-05-08 16:43] jeffmaury commented on #449
No plan as latest version is compatible with OCP4

[2020-05-08 16:43] #449 closed

[2020-05-11 08:55] adietish commented on #448
Hi @Ladicek
thanks for pointing out, pushing those somehow went forgotten. Fixing it.

[2020-05-11 09:05] adietish commented on #448
tag added and master bumped to 9.0.1-SNAPSHOT. Closing.

[2020-05-11 09:05] #448 closed

[2020-06-12 08:41] gionn opened #450 "Error message: Failed to determine authorization- & token-endpoint: got 403"
Hi,

since upgrading from `8.1.0.Final` to `9.0.0.Final` we found this error during the startup of the client, however it's harmless.

Is this an issue or not?

[code]

[2020-06-16 08:40] srueg opened #451 "RoleBinding fails on OpenShift 4 Cluster"
I get an exception while getting RoleBindings from an OpenShift 4.4 cluster:
[code]

Maybe this is due to the new resource version lookup algorithm introduced in https://github.com/openshift/openshift-restclient-java/commit/4f5b2e41afd3e1f904b694bf13d5d3ccdc25ebc1 ?
It seems like the library gets the `rbac.authorization.k8s.io/v1` version of RoleBindings instead of `authorization.openshift.io/v1`

[2020-06-17 15:40] adietish commented on #450
Hi @gionn

This looks very similar to https://github.com/openshift/openshift-restclient-java/issues/439#issuecomment-613424974 which should have been fixed in 8.1.2.Final.
The behaviour that was introduced back then was to try to discover the authorization endpoint and fall back to the default endpoint otherwise. Failing to discover would spit the above purely informative output.
If you have no tr

[2020-06-17 15:44] adietish commented on #451
Hi @srueg

this sounds very likely. Maybe there were additional changes introduced in 4.4 that cause this. @jeffmaury, do you know?

[2020-06-17 16:41] jeffmaury commented on #451
Yes I would think the mapping is not up to date. Will test

[2020-06-18 07:03] gionn commented on #450
If it's purely informative it's better to lower logging severity from error to info, at least.

Yeah, It's working, but the error message let me think that something was not ok.

Thanks.

[2020-06-18 08:59] jeffmaury commented on #451
There is a workaround if you're interested: add a `k8stypes.properties` file in your classpath with the following content:

`com.openshift.internal.restclient.model.authorization.RoleBinding=rbac.authorization.k8s.io/v1.RoleBinding`

Fix is coming

[2020-06-18 09:42] srueg commented on #451
Thanks a lot, I'll give it a try 👍

[2020-06-18 13:28] germanparente opened #453 "Connection leak: [ ConnectionPool] okhttp3.OkHttpClient: A connection to https://<url>/ was leaked. Did you forget to close a response body?"
exception found in:

[code]

seems that this exception can be found in PodExec.java:

okhttp3.OkHttpClient.newWebSocket (before "return adapter")

a developer has shared these notes:
========================================
I have my own MyPodExec.java based on (PodExec.java).
I have changed stop method to include: this.call.close(1000, "Client asking to stop."); instead of this.call.cancel(); ori

[2020-06-25 05:10] alfonzjanfrithz opened #454 "Raw Execution Request for DELETE method with null payload is causing a problem"
To reproduce this issue:

[code]

This leads to a the following problem:
[code]

The reason why is that the following method in `DefaultClient.java` does have a mechanism to handle a null payload.
When the null is passed, the `isPayloadlessMethod(method)` only only cater for `GET`.

`Okio.source()` can't accept null value

[code]

**Workaround**
I have to create input stream that has empty string.

[2020-07-18 01:55] mhagnumdw opened #455 "Client refresh token"
Hi!

I keep a client instance with application scope. There comes a time when the token expires.

Could you recommend a way that I can get a new token? Without interfering / breaking the current request.

Flow example:
[code]
where
[code]

I would like to check if the client (IClient) is valid before calling the `update` method, thus avoiding an authentication error.

_ps: please add the label: "h

[2020-07-20 09:09] a85302543 opened #456 "Update resource cannot support Chinese characters"
When I use Openshift Java Client to create or update a resource , I found a problem  :when  configuring  env with Chinese character like that:
[code]
and the return values is wrong and like:
[code]
The problem seems like that when posting the request, the Chinese character can not be recognized . A temporary solution is changing the code.
  from
[code]
to
[code]

is there other way to avoid this o

[2020-07-20 10:20] #451 closed

[2020-07-21 15:30] adietish commented on #456
Hi

I think that there's no harm in what you suggest and should be included if it fixes your issue. Dare to suggest a PR, please?
@jeffmaury Thoughts?

[2020-07-21 15:33] adietish commented on #456
@a85302543 let me please point out that this client is in maintenance mode, we'll only fix existing/new bugs as far as they are essential to the proper functioning of this library. If you're looking for a more feature complete & active library, we suggest that you use https://github.com/fabric8io/kubernetes-client/ instead.

[2020-07-21 15:36] adietish commented on #455
Hi @mhagnumdw

what you suggest in terms of usecase seems completely valid. In the Eclipse tooling, that is using this library, we simply catch the exception when authentication fails and re-authenticate. I'm not aware of a different way to verify a token, I might be missing something though. Is this not possible for you?

[2020-07-21 15:40] adietish commented on #454
Hi @alfonzjanfrithz

gotcha, great that you found this, I wasn't aware at all. And yes, if it's possible for you to create a PR, I'd love to verify it and get it in, appreciate a lot. Ideally your PR would also include unit-tests so that we have the confidence not breaking your fix in future evolutions.

[2020-07-21 16:00] a85302543 commented on #456
@adietish Hi
thanks for your reply！ I'll give it a try

[2020-07-21 16:02] adietish commented on #453
Hi @germanparente

Sorry for the late response, I was off on PTO.
Great catch. I dont understand though, why ```okClient.newWebSocket(request, adapter)``` would cause the obviously existing websocket to close. I'm missing the context. My guess is that you're executing on different pods and close each pod before you execute on another one? Can you please enlighten me?

[2020-07-21 21:38] adietish commented on #450
fair point, fully agree, created PR: #458

great if things work fine beside the scary logging :)

[2020-07-22 08:11] #450 closed

[2020-07-24 15:17] mhagnumdw commented on #455
Hi @adietish , thanks for your attention.

I have a class with several methods that make calls to several `IClient` methods. Is there an exception handler so that I don't have to define a try-catch on each call?

How do you re-authenticate?

Taking a look at the API, I found the `IClient.getAuthorizationContext().getExpiresIn()` method. I thought it could be used to check if the token is still val

[2020-07-29 09:29] adietish commented on #456
Fix at #459 merged. Closing.

[2020-07-29 09:29] #456 closed

[2020-07-29 09:47] adietish commented on #455
Hi @mhagnumdw

This looks like a bug. We should fix this.

I'm not fully sure why #setUser wasn't included in the interface. My guess is that it wasn't to disallow 3rd parties to set this central piece of data and only allow savvy users to do it.
If the purpose of such a setter is to invalidate the context, I'd rather allow this via some explicit method like #invalidate. It could then kill the tok

[2020-07-31 18:25] mhagnumdw commented on #455
Hi @adietish !

![image](https://user-images.githubusercontent.com/17688846/89063597-d39df900-d33e-11ea-92bb-6c3d30070bf7.png)

Invalidating the context to force a re-authentication seems like a good thing, since it is not necessary to recreate the client (which takes some time).

[2020-08-03 11:46] adietish commented on #455
Hi @mhagnumdw

If I get your screenshots right, the response headers wont contain an "expiresIn" value. I'm not fully sure though bcs the screenshot cuts off the end of the location value.
I'll create a PR that introduces the explicit invalidation and it would be great if you could test it and give me feedbacks on it so that we match your requirements.

Greetings
Andre

[2020-08-03 18:36] mhagnumdw commented on #455
Hi @adietish !

Follows full version:

`Location: https://oauth-openshift.apps.dev.sefin.fortaleza.ce.gov.br/oauth/token/implicit#access_token=token-here-but-omitted&expires_in=7200&scope=user%3Afull&token_type=Bearer`

I will do that and return soon. Thank you!

[2020-08-03 19:06] mhagnumdw commented on #455
@adietish , it worked really well. Tks!

[2020-08-03 21:35] mhagnumdw opened #462 "log: Can't access legacy endpoint oapi"
Hi !

I get this log in my application on the first OpenShift request: `2020-08-03 18:20:25.428 ERROR com.openshift.internal.restclient.ApiTypeMapper:251 (qtp1327536153-58) - Can't access legacy endpoint oapi`

It appears here https://github.com/openshift/openshift-restclient-java/blob/6e4454dc50640a656ebed46bd85579b59ab4ddce/src/main/java/com/openshift/internal/restclient/ApiTypeMapper.java#L251

[2020-08-04 10:43] #455 closed

[2020-08-04 10:47] adietish opened #463 "When authenticating, "expiresIn" is not set"
in https://github.com/openshift/openshift-restclient-java/issues/455#issuecomment-663590391 we discovered that ```IAuthenticationContext.getExpiresIn()``` always returns null and obviously isn't filled when authenticating.
The response carries the value though:

[code]

[2020-08-04 10:58] adietish commented on #463
The problem with this value is that it's a relative value: it defines the expiration in seconds since it was created.

https://docs.openshift.com/container-platform/3.7/architecture/additional_concepts/other_api_objects.html#oauthauthorizetoken

[code]

[2020-08-04 10:58] adietish commented on #455
Looks like we have an "expires_in" value here that we can exploit. Let me do that in a separate issue/PR: #463

[2020-08-10 12:53] adietish commented on #462
Hi @mhagnumdw

Good point. It's actually an error but not fatal as long as the newer api endpoints can be reached. I changed this to info in #465. Can you please review it?

[2020-08-10 21:38] adietish commented on #463
PR was merged.

[2020-08-10 21:38] #463 closed

[2020-08-11 00:57] mhagnumdw commented on #463
Tks!!

[2020-08-11 09:13] #462 closed

[2020-08-18 13:10] adietish commented on #454
PR was merged, closing.

[2020-08-18 13:10] #454 closed

[2020-08-18 13:11] adietish commented on #454
Hi Hi @alfonzjanfrithz

sorry, for the late reply. Your PR was merged, thanks a lot!

[2020-08-24 08:34] adietish commented on #259
This issue wasn't closed by mistake. This was implemented with https://issues.redhat.com/browse/OSJC-283 and was committed with 1939942e913164e17aa3a29cc333c9b53ee4b8e1.
Closing as resolved.

[2020-08-24 08:34] #259 closed

[2020-10-03 19:43] #416 closed

[2020-10-07 18:07] #240 closed

[2020-10-08 18:11] #260 closed

[2020-10-09 00:12] #262 closed

[2020-10-09 00:12] #261 closed

[2020-10-09 12:14] #263 closed

[2020-10-10 00:16] #270 closed

[2020-10-10 00:16] #271 closed

[2020-10-10 06:16] #273 closed

[2020-10-14 12:31] #299 closed

[2020-10-15 12:35] #285 closed

[2020-10-20 00:52] #256 closed

[2020-10-20 06:53] #323 closed

[2020-10-21 00:56] #326 closed

[2020-10-21 18:58] #331 closed

[2020-10-23 19:06] #336 closed

[2020-10-24 13:08] #241 closed

[2020-10-29 01:23] #353 closed

[2020-10-29 19:26] #341 closed

[2020-10-30 07:28] #354 closed

[2020-11-07 13:59] #378 closed

[2020-11-08 20:04] #379 closed

[2020-11-26 03:11] #426 closed

[2020-11-27 09:15] #420 closed

[2020-12-05 09:47] #428 closed

[2020-12-05 09:47] #440 closed

[2020-12-05 09:47] #441 closed

[2020-12-28 17:12] #453 closed

[2021-04-13 11:07] waytoharish opened #467 "exec error with Java Client"
Hi Team,
I am trying to run `exec with java code but getting bellow error -
java.net.ProtocolException: Expected HTTP 101 response but was '400 Bad Request'. Please could some have a look and help me how to fix this. My OpenShift cluster version is 3.11-

Below is My Java Code-
  String[] echoCommand = { "echo", "a", "b", "c" };
        IPodExec.Options options = new IPodExec.Options();
        op

[2021-06-15 14:41] felipecruz91 opened #468 "OCP 4.7.13 support?"
Hi,

I am aware that the project is in maintenance mode but I'd like to ask if the latest version (9.0.0-final) currently supports OpenShift 4.7.13 API endpoints?

I'm a bit confused given that the only references to OCP4 apply to ClusterRoleBindings in this file: https://github.com/openshift/openshift-restclient-java/blob/22ce4644a4b257e8b8be9914cb70b575e78f50bb/src/test/java/com/openshift/intern

[2021-06-15 14:48] jeffmaury commented on #468
It's being used by JBoss Tools / CodeReady Studio and I'm not aware of any issues.

[2021-06-24 09:50] #468 closed

[2021-09-08 13:20] adietish opened #470 "Publish and use latest openshift-restclient-java"
after the merge of #469 we need to publish the client and use it in the eclipse plugin.

[2021-09-10 20:32] #467 closed

[2021-09-20 08:18] adietish commented on #470
openshift-restclient-java 9.0.2.Final released at https://repository.jboss.org/nexus/service/local/repositories/releases/content/com/openshift/openshift-restclient-java/9.0.2.Final/openshift-restclient-java-9.0.2.Final.jar

[2021-09-20 08:20] adietish commented on #470
master bumped to 9.0.3-SNAPSHOT. Closing.

[2021-09-29 14:29] #470 closed

[2022-01-20 08:40] odockal opened #471 "Update log4j library to patch various CVEs"
Most sever CVE: https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-44832.

Upgrade to 2.17.1.

[2022-03-28 09:25] Jelledb opened #473 "Remove labels from a resource"
Hey,

With the current API models it does not seem that I am able to remove any labels from (in my case) a namespace. I can only view my labels and add any labels.

I also tried removing certain keys from the `labels` map, but it is a non-mutable map so the actual values are not removed.

(Kotlin code)
[code]

Would be great if this lib could support this operation.

[2022-03-28 09:29] Jelledb commented on #473
I see you're not developing this library anymore. I'll have a look at the fabric8 one.

[2022-03-28 09:29] #473 closed

[2022-03-30 08:52] adietish commented on #473
@Jelledb Hi Jelle,
I'm afraid but yes, we're not developing it any more. We started using https://github.com/fabric8io/kubernetes-client in our new projects. Fabric8 kubernetes-client works well and is very feature complete. So it didn't make sense for us to develop this client any further.

[2022-04-29 13:31] sbouchet commented on #471
must be closed, as by #472

[2022-05-30 07:11] jeffmaury commented on #471
Fixed by d1d2de711ffa2148c527c13dc9121edcd4614184

[2022-05-30 07:11] #471 closed

[2022-09-26 10:11] sbouchet opened #476 "Upgrade snakeyaml to 1.31"
see https://issues.redhat.com/browse/JBIDE-28634

[2022-09-26 13:30] sbouchet commented on #476
also:
okhttp-4.9.3 -> okhttp-4.10.0
okio-2.8.0 -> okio-3.0.0
kotlin-stdlib-1.4.10 -> kotlin-stdlib-1.6.20
logging-interceptor-4.9.3 -> logging-interceptor-4.10.0

[2022-09-26 14:19] adietish commented on #476
@sbouchet logging-interceptor isn't past of the dependencies of the client. okio, kotlin-stdlib are both transient deps that get bumped in the following way when I bump the dependencies in #477:
[code]

[2022-09-26 15:09] sbouchet commented on #476
ok sounds good enough

[2022-09-26 15:13] #476 closed

[2022-09-26 15:21] adietish commented on #476
@sbouchet released 9.0.5.Final: https://repository.jboss.org/nexus/service/local/repositories/releases/content/com/openshift/openshift-restclient-java/9.0.5.Final/openshift-restclient-java-9.0.5.Final.jar